<!DOCTYPE html>
<html>
<head>

<link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"  />
<link type="text/css" href="/static/css/jquery.selectBoxIt.css" rel="stylesheet" />
<link type="text/css" href="/static/css/task.css" rel="stylesheet" />
<!-- Madura css -->
<link rel="stylesheet" href="/static/css/font-icons/entypo/css/entypo.css"  id="style-resource-2">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"  id="style-resource-3">
<link rel="stylesheet" href="/static/css/neon-core-min.css"  id="style-resource-5">
<link rel="stylesheet" href="/static/css/neon-theme-min.css"  id="style-resource-6">
<link rel="stylesheet" href="/static/css/neon-form-min.css"  id="style-resource-7">
<link rel="stylesheet" href="/static/css/jalert.css">
<link rel="stylesheet" href="/static/css/form.css">
<link rel="stylesheet" href="/static/css/custom2.css">				<!-- custom css for loan officer process -->

<!-- Scripts -->
<script type="text/javascript" src="/static/js/1.9.1-jquery.min.js"></script>	<!-- Main Library js-->
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>	<!-- Main Library js-->
<script type="text/javascript" src="/static/js/bootstrap.js"></script>		<!-- Bootstrap js-->
<script type="text/javascript" src="/static/js/jquery.selectBoxIt.js"></script>
<script type="text/javascript" src="/static/js/crossfilter.js"></script> 

<!--MASTER DATA -->
<script type="text/javascript" src="/static/form/masterData.js"></script> 
<script type="text/javascript" src="/static/form/masterDataLoad.js"></script> 


<style>
	@media only screen and (min-width:0px){
	.colomn-div label{
		font-size:13px;
		display	: inline-block;
		width: 35%;
		/*width	: 30%;
		/*text-align:right;*/
		text-align: left;
		padding-left: 15%;
		
	}
	.img-input input{
		width	: 38%;
		margin-left:43.5%;
	}

	.center-pane{
		width:50%;
		margin: 3% auto;
		display:block;
		border:2px solid sienna;
		border-radius:10px;
	}
	.h3-heading h3{
		padding-top:20px;
		color:white;
		font-weight:bolder;
		margin-top:initial;
	}
	.file_img {
	        float: right;
	        display: inline-block;
	        max-width: 21px;
	        max-height: 21px;
	        cursor: pointer;
	        margin-right:12%;
	        border: 0 none;
	}
	.right-pane-task{
		width:100%;
		margin: 10 auto;
	}
}
@media only screen and (min-width:0px) and (max-width:600px){

	.right-pane-task{
		width:95%;

	}
	.center-pane{
		width:90%;
		line-height: normal;
	}
	.colomn-div input{
    		margin-left: 5%;
	}
	.img-input input{
			
		margin-left:43.5%;
	}
	.colomn-div label{
		font-size:13px;
		padding-left:10%;
		width: 36%;
	}
	
}
</style>

</head>
<body>
	<!-- Top Bar -->
	<div class="navbar navbar-fixed-top">
		{% include "header_common.html" %} 
	</div>
	{% csrf_token %}
	<!-- Main Content -->
    	<div class="main">	
	    <div class="task-div">	
		<div class="main-task">
		   <div  class="right-pane-task" id="right-pane-task">
			<div class="right-pane-task-detail detail-max" id="right-pane-task-detail" style="background-color: rgba(218, 216, 216, 0.2);">
			<!--span class="comment-toggle" style="float:right;display:inline-block;padding-bottom:0px;"><i class="entypo-chat"></i> Comments</span-->
			
     		        	<div class="center-pane" > 
		       			<!--Div HEader-->
					<div class="h3-heading" >
							<h3 >Book Loan and Prepare Cheque </h3>
							<h4 id="loan_id">Loan No : <span id="loan_Id">{{loanId}}</span>    &   Member Id : <span id="member_Id">{{memberId}}</span> </h4>
						</div>
				
						<!--INput Values-->
						<div class="member_class" >
						    <div class="colomn-div">
							<label>Loan Account Number</label>
							<font>  : </font>
							<input  type="text" readonly id="loan_account_number"   		name="loan_account_number"			placeholder="LOAN ACCOUNT NUMBER"/>
							</br>
						     </div>
						</div>
						<div class="member_class" >
						    <div class="colomn-div">
							<label>Cheque Number</label>
							<font>  : </font>
						    	<input  type="text" id="preche_cheque_number"   	name="preche_cheque_number"	 		placeholder="CHEQUE NUMBER"/>
							</br>
						    </div>
						</div>
						<div class="member_class" >
						    <div class="colomn-div">
							<label>Cheque Issuer(Bank Name)</label>
							<font>  : </font>
							<!--input  type="text" id="preche_bank_name"   		name="preche_bank_name"	 			placeholder="CHEQUE ISSUER BANK"/></input>-->
							<select id="preche_bank_name" class="extra select form-control bank_name preche_bank_name"  name="preche_bank_name"  placeholder="preche_bank_name (DROPDOWN)">
								</select>
							</br>
							</div>
						</div>
						<div class="member_class" >
						    <div class="colomn-div">
							<label>Cheque_Issuer(Branch Name)</label>
							<font>  : </font>						
						    	<input  type="text" id="preche_bank_branch"   		name="preche_bank_branch"			placeholder="CHEQUE ISSUER BRANCH"/>
							</br>
						    </div>
						</div>
						<div class="member_class" >
						    <div class="colomn-div">
							<label>Payee Name</label>
							<font>  : </font>						
						    	<input  type="text" id="payee_name"   			name="payee_name"				placeholder="PAYEE NAME"/>
							</br>
						    </div>
						</div>
						<div class="member_class" >
						    <div class="colomn-div">
							<label>Sanction Amount</label>
							<font>  : </font>						
						    	<input  type="text" id="loan_sanctioned_amount"   	name="loan_sanctioned_amount"	 	placeholder="LOAN SANCTIONED AMOUNT"/>
							</br>
						    </div>
						</div>				
				
						<div class="member_class" >
						    <div class="colomn-div">
							<label>Date of Cheque</label>
							<font>  : </font>						
						    	<input  type="date" id="loan_sanctioned_date"   	name="loan_sanctioned_date"		placeholder="LOAN SANCTIONED DATE"/>
							</br>
						    </div>
						</div>	
				
						<div class="member_class" >
						    <div class="colomn-div">
							<label>Date of Cheque Issued</label>
							<font>  : </font>						
						    	<input  type="date" id="chq_issued_on_date"   		name="chq_issued_on_date"		placeholder="DATE OF CHEQUE ISSUED"/>
							</br>
						    </div>
						</div>						

						</div>
						<!--Submit Button DIv-->
				
					 
						<div class="form-group text-center">
							<div class="form-button" id="upload_button">
								<a href="javascript:void(0)"	onclick=''	class="btn btn-red btn-icon icon-left"		 style="height:30px;padding-left:40px;">
					  	        	<i 	class="icon-entypo-cancel"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>
					   	       		 Cancel
								</a>
								<a href="javascript:void(0)"	onclick="onUpload('New');" 	class="btn btn-red btn-icon icon-left" 		style="height:30px;padding-left:40px;">
					  	        	<i 	class="icon-entypo-check" 	style="width:30px;height: 28px;color: white;padding:6px;">	</i>
					    	        	Upload
								</a>
				    			</div>
							<div class="form-button" id="reupload_button" style="display:none;">
					   	 		<textarea style="width:90%;height:20%;background-color:white;font-size: 11px;" id="comments"    placeholder="Comments"></textarea><font class="mandatory">*</font>
					   			<div style="padding-top:1%;">
									<a href="javascript:void(0)"	onclick=''	class="btn btn-red btn-icon icon-left"		 style="height:30px;padding-left:40px;">
					  	       	 		<i class="icon-entypo-cancel"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>
					   	       			 Cancel
									</a>
									<a href="javascript:void(0)"	onclick="onUpload('Rework Completed');" 	class="btn btn-red btn-icon icon-left" 		style="height:30px;padding-left:40px;">
					  	        		<i class="icon-entypo-check" 	style="width:30px;height: 28px;color: white;padding:6px;">	</i>
					    	       		 Rework Completed
									</a>
					    			</div>
				    			</div>				    	
						    </div>
						<div class="popup">	</div>
				  	    </div>
				  	    <!--div class="right-pane-task-comment-list comment-min " id="right-pane-task-comment-list">	
							<div class="head" style="background-color: #981B1B;color: whitesmoke;border-bottom: 1px solid whitesmoke;" data-toggle="collapse" data-target="#comment-list-pane">
							    <div class="sub-header" >
							      <div colspan="4"> Comments <i class="entypo-chat"></i></div>
							    </div>
							</div>
							<div  class="comment-list-pane" id="comment-list-pane"></div>
					    </div-->
				    </div>
				</div>
			    </div>

	    {% include "footer.html" %} 

</body>
<style>
#ui-datepicker-div{
	z-index: 999;
}
</style>
<script type="text/javascript"> 


var taskData = {};
var memberdetails = '{{ memberDetails    | safe		}}';
var processid 	  = '{{ processId        | safe		}}';
var process 	  = '{{ process          | safe		}}';
var loan_id	  = "{{ loanId 		 | escapejs 	}}";	
var user_id	  = "{{ user 		 | escapejs 	}}";
var task_id	  = "{{ taskId 		 | escapejs 	}}";
var processid 	  = "{{ processId	 | safe	   	}}";
var User 	  = '{{ user             | safe		}}';
var userid	  = '{{ userId           | safe		}}';
var memberId 	  = '{{ memberId         | safe		}}';
var loanId 	  = '{{ loanId           | safe		}}';
var remarks 	  = '{{ Application_Remarks | safe	}}';
var json_data     = '';

if(memberdetails){
	json_data = (JSON.parse(memberdetails));

	if(json_data['mlcompositeArray']){
	    if(json_data['mlcompositeArray'][0]){
		if(json_data['mlcompositeArray'][0]['account_number']){
			var account_number = json_data['mlcompositeArray'][0]['account_number'];
			document.getElementById('loan_account_number').value = account_number;
		}
	    }
	}
}

$(document).ready(function() {

    $('.comment-toggle').on('click', function () {
	$('#right-pane-task-detail').toggleClass('detail-max detail-min');
	$('#right-pane-task-comment-list').toggleClass('comment-min comment-max');
    });

    $(".tabs-menu a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current");
        $(this).parent().siblings().removeClass("current");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });
    
    setSelectOptionInForm();	/*Function in masterDataLoad.js	*/
});

$(function() {
	$("#tabs").tabs();
});  


function onUpload(value){


	/*Input Values*/
	var loan_account_number 		= document.getElementById("loan_account_number").value;
	var preche_cheque_number 		= document.getElementById("preche_cheque_number").value;
	var preche_bank_name 			= document.getElementById("preche_bank_name").value;
	var preche_bank_branch 			= document.getElementById("preche_bank_branch").value;
	var payee_name 				= document.getElementById("payee_name").value;
	var loan_sanctioned_amount 		= document.getElementById("loan_sanctioned_amount").value;
	var loan_sanctioned_date 		= document.getElementById("loan_sanctioned_date").value;
	var chq_issued_on_date			= document.getElementById("chq_issued_on_date").value;

	/*Input value validation*/
	if(!preche_cheque_number){
		alert('Please enter Cheque Number');
		return false;
	}
	if(!preche_bank_name){
		alert('Please enter Bank Name');
		return false;
	}
	if(!preche_bank_branch){
		alert('Please enter Bank Branch Name');
		return false;
	}
	if(!payee_name){
		alert('Please enter Payee Name');
		return false;
	}
	if(!loan_sanctioned_amount){
		alert('Please enter Sanctioned Amount of Loan');
		return false;
	}
	if(!loan_sanctioned_date){
		alert('Please enter Loan Sanctioned Date');
		return false;
	}
	if(!chq_issued_on_date){
		alert('Please enter Cheque Issued Date');
		return false;
	}
	
	var d 		= new Date(); // for now
	var currentTime	= (d.getHours()+":"+d.getMinutes()).toString();
	
	var currentDateValue  = (new Date());
	currentDateValue = JSON.stringify(currentDateValue);
	currentDateValue = currentDateValue.replace(/"/g,'');
	currentDateValue = currentDateValue.split('T')[0];

	/*Process Details formating*/
	var processCompleteTask = { "variables": { "Book_Loan_&_Cheque_Status" : { "value" : "New" } } };
	var dataObj 		= {};
	
	dataObj['memberid'] 	= memberId;

	var remarksData =    { 
				"validation_member_id" 		: parseInt(memberId),
				"validation_loan_id" 		: parseInt(loan_id),
				"validation_type" 		: parseInt(1),
				"validation_level"		: parseInt(1),
				"validation_status" 		: parseInt(1),
				"remarks" 			: remarks, 
				"process_id" 			: processid,
				"task_id" 			: task_id,
				"validation_fk_last_modified_by": user_id,
				"validation_last_modified_date"	: ""+currentDateValue +" at "+ currentTime+"",
				"validation_fk_sci_client_id"	: parseInt(1)
			     };


	dataObj['processid'] 	= processid;
	dataObj['taskremarks']  = remarksData;
	dataObj['loanid'] 	= loan_id;
	dataObj['taskid'] 	= task_id;
	dataObj['userid'] 	= userid;
	dataObj['process'] 	= processCompleteTask;
	dataObj['remarksData'] 	= remarksData;		

	/*Formating the input values for AVRO*/
	var dataArr = {
		"preche_member_id"		: parseInt(memberId),
		"preche_loan_id"		: parseInt(loan_id),
		"loan_account_number"		: loan_account_number,
		"preche_cheque_number"		: preche_cheque_number,
		"preche_bank_name"		: preche_bank_name,
		"preche_bank_branch"		: preche_bank_branch,
		"payee_name"			: payee_name,
		"loan_sanctioned_amount"	: parseFloat(loan_sanctioned_amount),
		"loan_sanctioned_date"		: loan_sanctioned_date,
		"chq_issued_on_date"		: chq_issued_on_date,
		"last_modified_date"		: ""+currentDateValue +" at "+ currentTime+"",	
		"last_modified_by"		: user_id				
         };

		
	dataObj["preparecheque"]  = dataArr;
	dataObj["processDetails"] = processCompleteTask;
	dataObj["taskid"]	  = task_id;
	
	/*Loading IMages*/	
	var theImg = '<div class="loading"><img style="width:350px;height:250px;" src="/static/images/buffer-loading.gif">'
		 +'<div style="padding-top:1%;" ><label style="padding-top:1%;">LOADING ...</label>'
			    +'</div>'
		+'</div>';
	$(".popup").empty().append(theImg).fadeIn();	
		
	/*AJAX call:*/
	var url = "/preparecheque";
	$.ajax({
	    url: url,
	    type: 'post',
	    dataType: 'json',
	    success: function (data) {		
		$(".popup").fadeOut();
		window.location='/tasks/';
	    },
	    data: JSON.stringify(dataObj)
	});
}
</script>
</html>

