<!DOCTYPE html>
<html>
<head>

<link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"  />
<link type="text/css" href="/static/css/jquery.selectBoxIt.css" rel="stylesheet" />
<link type="text/css" href="/static/css/task.css" rel="stylesheet" />
<!-- Madura css -->
<link rel="stylesheet" href="/static/css/font-icons/entypo/css/entypo.css"  id="style-resource-2">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"  id="style-resource-3">
<link rel="stylesheet" href="/static/css/neon-core-min.css"  id="style-resource-5">
<link rel="stylesheet" href="/static/css/neon-theme-min.css"  id="style-resource-6">
<link rel="stylesheet" href="/static/css/neon-form-min.css"  id="style-resource-7">
<link rel="stylesheet" href="/static/css/jalert.css">
<link rel="stylesheet" href="/static/css/form.css">
<link rel="stylesheet" href="/static/css/custom2.css">				<!-- custom css for loan officer process -->

<!-- Scripts -->
<script type="text/javascript" src="/static/js/1.9.1-jquery.min.js"></script>	<!-- Main Library js-->
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>	<!-- Main Library js-->
<script type="text/javascript" src="/static/js/bootstrap.js"></script>		<!-- Bootstrap js-->
<script type="text/javascript" src="/static/js/jquery.selectBoxIt.js"></script>
<script type="text/javascript" src="/static/js/crossfilter.js"></script> 

<!--MASTER DATA -->
<script type="text/javascript" src="/static/form/masterData.js"></script> 
<script type="text/javascript" src="/static/form/masterDataLoad.js"></script> 

</head>

<body>
	<!-- Top Bar -->
	<div class="navbar navbar-fixed-top">
		{% include "header_common.html" %} 
	</div>

	{% csrf_token %}
	<!-- Main Content -->
    	<div class="main">	
	    <div class="task-div">	
		<div class="main-task">
		   <div  class="right-pane-task" id="right-pane-task" style="width:100%;margin: 10 auto;">
      			<div class="right-pane-task-detail detail-max" id="right-pane-task-detail" style="background-color: rgba(218, 216, 216, 0.63);border-bottom: 1px solid #aaaaaa;">
      			
     		            <span class="comment-toggle" style="float:right;display:inline-block;padding-bottom:0px;"><i class="entypo-chat"></i> Comments</span>
			    <div class="center-pane" style="width:50%;margin: 3% auto; display:block;"> 
			    
			        <!--Div HEader-->
				<div class="h3-heading" >
				    <h3 >ReDispatch Physical Document</h3>
				    <h4 id="loan_id">Loan No : <span id="loan_Id">514243656648453</span>    &   Member Id : <span id="member_Id">551</span> </h4>
				</div>

				<!--INput Values-->
				<div class="member_class" >
				    <div class="colomn-div"><label>Courier Name</label><font>  : </font>
				        <select id="doc_courier_name" class="extra select form-control doc_courier_name"   	name="doc_courier_name"  	placeholder="doc_courier_name"	></select> 
				    </div>
				    <font class="mandatory">*</font>
				</div>
				<div class="member_class" >
				    <div class="colomn-div"><label>Receipt Number</label><font>  : </font><input type="text" id="doc_courier_receipt_number"    name=""     placeholder="RECEIPT NUMBER"	/><font class="mandatory">*</font></div>
				</div>
				<div class="member_class">
				    <div  class="colomn-div"><label>Tracking Id</label><font>  : </font><input type="text" id="doc_courier_tracking_id"         name=""  	   placeholder="TRACKING ID"	/><font class="mandatory">*</font></div>
				</div>
				<div class="member_class">
				    <div  class="colomn-div"><label>Date</label>	<font>  : </font><input type="text" id="doc_courier_handover_date"      name=""  	   placeholder="DATE"	/><font class="mandatory">*</font></div>
				</div>
			    </div>
			    
			    <!--Submit Button DIv-->
			    <div class="form-group text-center">
				    <div class="">
					<div class="colomn-div-footer" >
					    <textarea style="width:90%;height:20%;" id="comments"    placeholder="Comments"></textarea>
					    <a href="javascript:void(0)" onclick='window.location="/tasks/"' class="btn btn-red btn-icon icon-left" style="height:30px;padding-left:40px;">
					        <i class="icon-entypo-cancel" style="width:30px;height: 28px;color: white;padding:6px;"></i>
					        Cancel
					    </a>
					    <a href="javascript:void(0)" onclick='onReadData("ReworkCompleted","3");' class="btn btn-red btn-icon icon-left" style="height:30px;padding-left:40px;">
					        <i class="icon-entypo-forward" style="width:30px;height: 28px;color: white;padding:6px;"></i>
					        ReworkCompleted
					    </a>
					</div>
			           </div>
			    </div>	
		    </div>
		    <!--Comments-->
    		    <div class="right-pane-task-comment-list comment-min" id="right-pane-task-comment-list">	
			    <h3>Comments</h3>
			    <div class="comment-list-pane" id="comment-list-pane"> 
			    </div>																		
		    </div><!-- comment-list-pane ends -->
		</div>
	    </div>
  	</div>

	{% include "footer.html" %} 
</body>
<script type="text/javascript">  
	
var taskData = {};
var screenHeight = $(window).height();
var screenWidth = $(window).width();
var memberdetails= '{{memberDetails|safe}}';
var processid 	= '{{processId|safe}}';
var process 	= '{{process|safe}}';
var taskid 	= '{{taskId|safe}}';
var memberId 	= '{{memberId|safe}}';
var loanId 	= '{{loanId|safe}}';
var userid 	= '{{userId|safe}}';
var User 	= '{{user|safe}}';
var phydoccheid = '';
var remarks 	= '{{Application_Remarks|safe}}';
var processObj 	=  JSON.parse(process);

if(screenHeight){
	var height = screenHeight*(0.9);
	var slipHeight = height/3;
	$('#right-pane-task').height((height));
	$('#right-pane-task').width((screenWidth*0.989));
	
	$('#right-pane-task-detail').height((height*(0.94)));
	$('#right-pane-task-comment-list').height((height*(0.94)));

	document.getElementById('right-pane-task-detail').style.overflowY = 'auto';
	if(document.getElementById('right-pane-task-comment-list')){
		document.getElementById('right-pane-task-comment-list').style.overflowY = 'auto';
	}
}

/*Div Header Update*/
if(loanId){
	$(".h3-heading h4").html("Loan Id :  " +loanId+ "    &   Member Id : "+memberId+"");
}

jQuery(document).ready(function($) {

    /*Date Picker*/
    $("#doc_courier_handover_date").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true,//this option for allowing user to select month
	      changeYear: true });

    /*For Comments Toggel Option*/	
    $('.comment-toggle').on('click', function () {
	$('#right-pane-task-detail').toggleClass('detail-max detail-min');
	$('#right-pane-task-comment-list').toggleClass('comment-min comment-max');
    });
    
    /*Drop down on topbar menu*/ 	
    $('.dropDownHook span').on('click', function() {
        $(this).parents('.dropDownHook').children('.dropDownContent').stop(true, true).slideToggle('medium', function() {
            if ($('.dropDownContent').is(':visible')) {
            }
            else {
            }
        });
    });
    $('html').on('click', function() {
        $('.dropDownContent:visible').slideToggle('fast');
    });
    $('.dropDownHook > *').on('click', function(event) {
        event.stopPropagation();
    });
    
    /*Master data And Data Painting in HTML*/
    setSelectOptionInForm()		/*Function in masterDataLoad.js	*/
    dataLoading()			/*Function in Same Page 	*/
});

function dataLoading(){

    if(memberdetails){
    	/*Data parsing and data Painting*/
	memberdetails =  JSON.parse(memberdetails);
	var dispatchData = memberdetails['dcphysicalArray'][0];
	var keys = Object.keys(dispatchData);
	for(var i=0; i<keys.length; i++){
		if(keys[i]== 'phydoccheid'){
			phydoccheid = dispatchData[keys[i]];
		}
		if(document.getElementById(keys[i])){
			document.getElementById(keys[i]).value = dispatchData[keys[i]];
		}
	}
	var objData = dispatchData;

	/*For Comments */
	var html='<label class="comment-user" >No Comments</label>'; 	
	if(objData['phyDocValidationArray']){
	    html='';	
	    for(var i=0;i<objData['phyDocValidationArray'].length; i++){
	    	var usernme = objData['phyDocValidationArray'][i]['validation_fk_last_modified_by'];
	    	var remarks = objData['phyDocValidationArray'][i]['remarks'];	
	    	var validation_last_modified_date = objData['phyDocValidationArray'][i]['validation_last_modified_date'];	
	    	 
		html +='<div id="comment-pane" class="comment-pane">'
			    +'<div class="comments-list-pane">'
				+'<label class="comment-user" ><i class="entypo-user"></i>'+usernme+'</label> <font class="comment-date"> '+validation_last_modified_date+' </font>'
				+'<div class="comment-comment">'+remarks+'</div>'
			    +'</div>'
			+'</div>';	    
	    }	
	}
	document.getElementById('comment-list-pane').innerHTML = html;
    }
}

function onReadData(d, val){

	/*Current date*/
	var currentDateValue  = (new Date());
	currentDateValue = JSON.stringify(currentDateValue);
	currentDateValue = currentDateValue.replace(/"/g,'');
	
	/*Remarks for Comments*/	
	var remarks = document.getElementById('comments').value;

	/*Input Values*/
	var doc_courier_name 		= document.getElementById("doc_courier_name").value;
	var doc_courier_receipt_number 	= document.getElementById("doc_courier_receipt_number").value;
	var doc_courier_handover_date 	= document.getElementById("doc_courier_handover_date").value;
	var doc_courier_tracking_id 	= document.getElementById("doc_courier_tracking_id").value;

	/*Input value validation*/
	if(!doc_courier_name){
		alert('Please enter Courier Name');
		return false;
	}
	if(!doc_courier_receipt_number){
		alert('Please enter Courier receipt Number');
		return false;
	}
	if(!doc_courier_handover_date){
		alert('Please enter Courier Handover Date');
		return false;
	}
	if(!doc_courier_tracking_id){
		alert('Please enter Tracking Id');
		return false;
	}
	

	/*Data formating of Process values*/
	var validation = [{
					"validation_member_id" 	: parseInt(memberId),
					"validation_loan_id" 	: parseInt(loanId),
					"validation_type" 	: parseInt(1),
					"validation_level"	: parseInt(1),
					"validation_status" 	: parseInt(val),
					"remarks" 		: remarks, 
					"process_id" 		: processid,
					"task_id" 		: taskid,
					"validation_fk_last_modified_by": parseInt(userid),
					"validation_last_modified_date"	: currentDateValue,
					"validation_fk_sci_client_id"	: parseInt(1)
				}];
			
	/*Data formating for ipput values*/
	var dataArr = {"dcphysicalArray":[
				{
					"phydoccheid"			: parseInt(phydoccheid),
					"fk_member_id"			: parseInt(memberId),
					"fk_loan_id"			: parseInt(loanId),
					"doc_courier_tracking_id" 	: doc_courier_tracking_id,
					"doc_courier_handover_date" 	: doc_courier_handover_date,
					"doc_courier_name"	  	: doc_courier_name,
					"doc_courier_receipt_number"	: doc_courier_receipt_number,	
					"doc_courier_tracking_id "	: doc_courier_tracking_id ,
					"last_modified_by"		: parseInt(1),
					"phyDocValidationArray"		: validation
				}
			]
		};

	/*Process Update formating data*/
	var processupdate = {
				"variables": {
					"LoanDoc_Physical_Status" : {
						"value" : 'ReworkCompleted', 
						"type"	: "String"
					},
					"LoanDoc_Physical_Remarks" : {
						"value" : remarks, 
						"type"	: "String"
					},
					"Application_Remarks" : {
						"value" : remarks, 
						"type"	: "String"
					}
				}
			};
			
	/*Remarks*/
	/*var remarksData =    { 
				"validation_member_id" 	: parseInt(memberId),
				"validation_loan_id" 	: parseInt(loanId),
				"validation_type" 	: parseInt(1),
				"validation_level"	: parseInt(1),
				"validation_status" 	: parseInt(val),
				"remarks" 		: remarks, 
				"process_id" 		: processid,
				"task_id" 		: taskid,
				"validation_fk_last_modified_by": parseInt(userid),
				"validation_last_modified_date"	: currentDateValue,
				"validation_fk_sci_client_id"	: parseInt(1)
			     };*/
			     
     	var remarksData =    { 
		"validation_member_id" : parseInt(memberId),
		"validation_loan_id" : parseInt(loanId),
		"validation_status" :parseInt(val),
		"remarks" : remarks, 
		"process_id" : processid,
		"task_id" : taskid,
		"validation_fk_last_modified_by": parseInt(userid),
		"validation_last_modified_date": currentDateValue,
		"validation_fk_sci_client_id": parseInt(1)
	     };
	     
	/*Merging of Data*/
	var dataObj = {};
	dataObj['processDetails'] = processupdate;
	dataObj['process'] 	= processupdate;
	dataObj['processid'] 	= processid;
	dataObj['taskid'] 	= taskid;
	dataObj['loanId'] 	= loanId;
	dataObj['memberId'] 	= memberId;
	dataObj['dispatchDetails'] = dataArr;
	dataObj['taskremarks'] 	= remarksData;
	dataObj['function'] 	= "update";

	/*AJAX call:*/
	var url = "/dispatch/";	
	$.ajax({
	    url: url,
	    type: 'post',
	    dataType: 'json',
	    success: function (data) {
	    	if(data.status == "Successful"){
	    		/*Process update*/
	    		$.ajax({
				url: '/updateDispatchVerificationtaskprocess/'+d+'',
				type: 'post',
				dataType: 'json',
				success: function(data){
					console.log(data);	
					if(data.message == "Successful"){
						window.location='/tasks/';
					}else{
						alert("Failed due to some Issue . Please try after sometime or contact your Administrator");
					}
				},
				data: JSON.stringify(dataObj)
			});
	    	  }
	    },
	    data: JSON.stringify(dataObj)
	});
}

</script>
</html>
