<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/jquery.selectBoxIt.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/task.css" rel="stylesheet" />

    <!-- Madura css -->
    <link rel="stylesheet" href="/static/css/font-icons/entypo/css/entypo.css" id="style-resource-2">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic" id="style-resource-3">
    <link rel="stylesheet" href="/static/css/neon-core-min.css" id="style-resource-5">
    <link rel="stylesheet" href="/static/css/neon-theme-min.css" id="style-resource-6">
    <!--<link rel="stylesheet" href="/static/css/neon-form-min.css"  id="style-resource-7">-->
    <link rel="stylesheet" href="/static/css/jalert.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/BVR_form.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link type="text/css" href="/static/css/jquery-confirm.css" rel="stylesheet"  />

    <!-- Scripts -->
    <script type="text/javascript" src="/static/js/1.9.1-jquery.min.js"></script>
    <!-- Main Library js-->
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <!-- Main Library js-->
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <!-- Bootstrap js-->
    <script type="text/javascript" src="/static/js/jquery.selectBoxIt.js"></script>
    <script type="text/javascript" src="/static/js/crossfilter.js"></script>
    <script type="text/javascript" src="/static/form/masterData.js"></script>
    <script type="text/javascript" src="/static/form/masterDataLoad.js"></script>
    <script type="text/javascript" src="/static/js/jquery-confirm.js"></script>
    <!-- script type="text/javascript" src="/static/js/base64.js"></script-->
   <script type="text/javascript" src="http://requirejs.org/docs/release/2.3.2/minified/require.js"></script> 

</head>

<body>
    <!-- Top Bar -->
    <div class="navbar navbar-fixed-top">
        {% include "header1.html" %}
    </div>

    <div class="main">
        <div class="task-div">
            <div class="main-task">
                <div id="tabs">
                    <ul id="form-tab">
                        <li><a href="#pane1">Resident Verification Report</a></li>
                        <li style="float:right;list-style-type:none;">
                            <span class="document-toggle" style="float:right;display:inline-block;padding-bottom:10px;cursor:pointer;"><i class="entypo-attach"></i>Documents</span>
                        </li>
                        <li style="float:right;">
                            <span class="comment-toggle" style="float:right;display:inline-block;padding-bottom:0px;cursor:pointer;"><i class="entypo-chat"></i> Comments</span>
                        </li>
                    </ul>
                </div>
                <div id="commentsModal" class="modal">
                    <div class="modal-content">
                        <span class="close">x</span>
                        <p> <strong><i class="entypo-chat">COMMENTS	</i></strong>
                        </p>
                        <div class="modal-body" id="commentsTab">
                        </div>
                    </div>
                </div>
                <div id="documentsModal" class="modal">
                    <div class="modal-content">
                        <span class="close">x</span>
                        <p> <strong><i class="entypo-attach">DOCUMENTS ATTACHED</i></strong>
                        </p>
                        <div class="modal-body" id="documentsTab">
                        </div>
                    </div>
                </div>
                <div class="right-pane-task" id="right-pane-task" style="padding:3px;margin-top: 0px;">
                    <div class="right-pane-task-detail detail-max" id="right-pane-task-detail" style="background-color: white;">
                        <div class="Business-Verification-details">
                            <div class="tab-content span5">
                                <!-- for tab -->
                                <div id="pane2" class="tab-pane  active">
                                    <!--<h4>Basic Details</h4>-->
                                    <div width="100%">
                                        <div class="main-pane-info-outer">
                                            <div class="main-pane-info">
                                                <div class="head-main-pane" style="background-color: #981B1B;color: whitesmoke;border-bottom: 1px solid whitesmoke;">
                                                    <div class="sub-header" data-toggle="collapse" data-target="#basic_information" class="accordion-toggle">
                                                        <div colspan="4" style="font-weight:bold;"> Applicant's Information </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="body-main-pane" id="mmfl">
                                                    <div class="row-div-main-pane">
                                                        <div class="colomn-div-bussiness">
                                                            <label>Member ID </label>
                                                            <font class="font_colon">:</font>
                                                            <font id="memberid" name="memberid" placeholder="Member ID"></font>
                                                        </div>
                                                        <div class="colomn-div-bussiness">
                                                            <label>Loan ID </label>
                                                            <font class="font_colon">:</font>
                                                            <font id="loanid" name="loanid" placeholder="Loan ID"></font>
                                                        </div>
                                                        <div class="colomn-div-bussiness">
                                                            <label>Applicant Name </label>
                                                            <font class="font_colon">:</font>
                                                            <font id="applicant_name" name="applicant_name" placeholder="Applicant Name "></font>
                                                        </div>
                                                        <div class="colomn-div-bussiness">
                                                            <label>Resident Address </label>
                                                            <font class="font_colon">:</font>
                                                            <div class="colomn-div" style="width:40%;padding-left:initial;">
                                                                <font id="current_address" name="current_address" placeholder="RESIDENT ADDRESS"></font></div>
                                                        </div>
                                                        <br>
                                                        <div class="colomn-div-bussiness">
                                                            <label> Living with </label>
                                                            <font class="font_colon">:</font>
                                                            <font id="live_with" name="live_with" placeholder="Living with"></font>
                                                        </div>
                                                        <div class="colomn-div-bussiness">
                                                            <label> Mobile Number </label>
                                                            <font class="font_colon">:</font>
                                                            <font id="mobile_number" name="mobile_number" placeholder="Mobile Number"></font>
                                                        </div>
                                                        <div class="colomn-div-bussiness">
                                                            <label> Number of Children</label>
                                                            <font class="font_colon">:</font>
                                                            <font id="no_of_children" name="no_of_children" placeholder="Number of Children"></font>
                                                        </div>

                                                        <div class="colomn-div-bussiness">
                                                            <label>Business Address </label>
                                                            <font class="font_colon">:</font>
                                                            <div class="colomn-div" style="width:40%;padding-left:initial;">
                                                                <font id="business_address" name="business_address"></font>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <br>

                                                        <div class="colomn-div-bussiness">
                                                            <label>Office No</label>
                                                            <font class="font_colon">:</font>
                                                            <font id="biz_office_address_mobile_number" name="biz_office_address_mobile_number" placeholder="MOBILE NUMBER" /></font>
                                                        </div>
                                                        <div class="colomn-div-bussiness">
                                                            <label>Nature Of Business </label>
                                                            <font class="font_colon">:</font>
                                                            <font id="biz_nature" name="biz_nature" placeholder="APPLICATION ID"></font>
                                                        </div>
                                                        <div class="colomn-div-bussiness">
                                                            <label>No of Years in Business </label>
                                                            <font class="font_colon">:</font>
                                                            <font id="biz_no_of_yrs" name="biz_no_of_yrs" placeholder="MEMBER ID"></font>
                                                        </div>
                                                        <div class="colomn-div-bussiness">
                                                            <label>Location of Business </label>
                                                            <font class="font_colon">:</font>
                                                            <font id="biz_location" name="biz_location" placeholder="LOAN ID"></font>
                                                        </div>
                                                        <div class="colomn-div-bussiness">
                                                            <label> Rent Paid Per Month </label>
                                                            <font class="font_colon">:</font>
                                                            <font id="rent_pay_month" name="rent_pay_month" placeholder="DDMMYYYY"></font>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="residence-details">
                                            <div class="tab-content span5">
                                                <!-- for tab -->
                                                <div class="sub-header" data-toggle="collapse" data-target="#mmfl-info" class="accordion-toggle">MMFL DETAILS </div>
                                                <div class="row-div">
                                                    <div class="colomn-div">
                                                        <label> Applicant ID </label>
                                                        <font>:</font>
                                                        <font type="text" id="member_id" name="member_id" placeholder="APPLICANT ID">	</font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                    <div class="colomn-div">
                                                        <label> Reference No. </label>
                                                        <font>:</font>
                                                        <font type="text" id="loan_id" name="loan_id" placeholder="REFERENCE NO">	</font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                    <div class="colomn-div">
                                                        <label> Date </label>
                                                        <font>:</font>
                                                        <font type="date" id="date" name="date"></font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                    <div class="colomn-div">
                                                        <label> MMFL Branch Name </label>
                                                        <font>:</font>
                                                        <font type="text" id="branch_name" name="branch_name" placeholder="BRANCH NAME" /></font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                </div>
                                                <div class="row-div">
                                                    <div class="colomn-div">
                                                        <label> User ID </label>
                                                        <font>:</font>
                                                        <font type="text" id="user_id" name="user_id" placeholder="USER ID"></font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="sub-header" data-toggle="collapse" data-target="#contacted-person-info" class="accordion-toggle">CONTACTED PERSON DETAILS </div>
                                                <div class="row-div">
                                                    <div class="colomn-div">
                                                        <label> Name of the Person Contacted</label>
                                                        <font>:</font>
                                                        <font type="text" id="name_of_the_person_spoken_to" name="name_of_the_person_spoken_to" placeholder="CONTACTED PERSON NAME"></font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                    <div class="colomn-div">
                                                        <label> Relationship with Applicant </label>
                                                        <font>:</font>
                                                        <font type="text" id="relationship_to_the_owner" name="relationship_to_the_owner" placeholder="RELATIONSHIP WITH APPLICANT">	</font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                    <div class="colomn-div">
                                                        <label> Time In </label>
                                                        <font>:</font>
                                                        <font type="time" id="time_in" name="time_in"></font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                    <div class="colomn-div">
                                                        <label> Time Out </label>
                                                        <font>:</font>
                                                        <font type="time" id="time_out" name="time_out"></font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="sub-header" data-toggle="collapse" data-target="#verification-info" class="accordion-toggle">VERIFICATION INFO</div>
                                                <div class='colomn-div'>
                                                    <label> Resident Address
                                                    </label> <font>:</font>
                                                    <font type="text" id="address" name="address" placeholder="RESIDENT ADDRESS" style="height:40px;width:40%">	</font>
                                                    <font class="mandatory">*</font>
                                                </div>
                                                <br>
                                                <div class="row-div">
                                                    <div class="colomn-div" style="width:45%;">
                                                        <label> Confirmation from the Contacted Person that the Applicant stays in the above address </label>
                                                        <font>:</font>
                                                        <font id="addres_conformation" name="addres_conformation">	</font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                    <div class="colomn-div" style="width:45%;">
                                                        <label> Address Proof Verified </label>
                                                        <font>:</font>
                                                        <font id="addres_proof_shown" name="addres_proof_shown"></font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="sub-header" data-toggle="collapse" data-target="#residential-info" class="accordion-toggle">RESIDENTIAL INFORMATION</div>
                                                <div class="row-div">
                                                    <div class="colomn-div">
                                                        <label> Residence Ownership </label>
                                                        <font>:</font>
                                                        <font type="text" id="residence_ownership" name="residence_ownership" placeholder="RESIDENCE OWNER NAME"></font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                    <div class="colomn-div">
                                                        <label> Years Stayed in the Address </label>
                                                        <font>:</font>
                                                        <font type="text" id="years_in_the_address" name="years_in_the_address" placeholder="YEARS STAYED IN THE ADDRESS">	</font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                    <div class="colomn-div">
                                                        <label> Living with Family</label>
                                                        <font>:</font>
                                                        <font id="living_with_family" name="living_with_family">  </font>
                                                        <font class="mandatory">*</font>
                                                    </div>
                                                    <div class="row-div">
                                                        <div class="colomn-div">
                                                            <label> No. of People Living </label>
                                                            <font>:</font>
                                                            <font type="text" id="number_of_people_living" name="number_of_people_living" placeholder="NO. OF PEOPLE LIVING"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Approachability </label>
                                                            <font>:</font>
                                                            <font type="text" id="approachability" name="approachability" placeholder="APPROACHABILITY">	</font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Type of House </label>
                                                            <font>:</font>
                                                            <font type="text" id="type_of_house" name="type_of_house" placeholder="TYPE OF HOUSE"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> No. of Rooms </label>
                                                            <font>:</font>
                                                            <font type="text" id="number_of_rooms" name="number_of_rooms" placeholder="NO. OF ROOMS"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                    </div>
                                                    <div class="row-div">
                                                        <div class="colomn-div">
                                                            <label> Roofing </label>
                                                            <font>:</font>
                                                            <font type="text" id="roofing" name="roofing" placeholder="ROOFING">	</font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Interior Wall </label>
                                                            <font>:</font> <font type="text" id="interior_wall" name="interior_wall" placeholder="INTERIOR WALL"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Furnishing </label>
                                                            <font>:</font>
                                                            <font type="text" id="furnishing" name="furnishing" placeholder="FURNISHING">	</font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Type of Flooring </label>
                                                            <font>:</font>
                                                            <font type="text" id="type_of_flooring" name="type_of_flooring" placeholder="TYPE OF FLOORING"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                    </div>
                                                    <div class="row-div">
                                                        <div class="colomn-div">
                                                            <label> Vehicles Owned </label>
                                                            <font>:</font>
                                                            <font id="vehicles_owned" name="vehicles_owned">	</font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Household Items Visible </label>
                                                            <font>:</font>
                                                            <font type="text" id="household_items_visible" name="household_items_visible" placeholder="HOUSEHOLD ITEMS VISIBLE"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Residence in Negative Area </label>
                                                            <font>:</font>
                                                            <font type="text" id="residence_in_negative_area" name="residence_in_negative_area" placeholder="RESIDENCE IN NEG AREA"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                    </div>
                                                    <div class="row-div">
                                                        <div class="colomn-div">
                                                            <label> Area </label>
                                                            <font>:</font>
                                                            <font type="text" id="area" name="area" placeholder="AREA">	</font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Locality </label>
                                                            <font>:</font>
                                                            <font type="text" id="locality" name="locality" placeholder="LOCALITY"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Landmark </label>
                                                            <font>:</font>
                                                            <font type="text" id="landmark" name="landmark" placeholder="LANDMARK"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                    </div>
                                                    </br>
                                                    <div class="sub-header" data-toggle="collapse" data-target="#neighbour-verification" class="accordion-toggle"> NEIGHBOUR VERIFICATION </div>
                                                    <div class="sub-sub-header" data-toggle="collapse" data-target="#neighbour-verification" class="accordion-toggle" align="center"> <strong> CHECK 1</strong></div>
                                                    <div class="row-div">
                                                        <div class="colomn-div">
                                                            <label> Name </label>
                                                            <font>:</font>
                                                            <font type="text" id="name_1" name="name_1" placeholder="NAME"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Address </label>
                                                            <font>:</font>
                                                            <font type="text" id="address_1" name="address_1" placeholder="ADDRESS"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Phone Number </label>
                                                            <font>:</font>
                                                            <font type="text" id="phone_number_1" name="phone_number_1" placeholder="PHONE NO">	</font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                    </div>
                                                    <div class="row-div">
                                                        <div class="colomn-div">
                                                            <label> Known Each Other </label>
                                                            <font>:</font>
                                                            <font type="text" id="known_each_other_1" name="known_each_other_1" placeholder="KNOWN EACH OTHER"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Behaviour of the Customer </label>
                                                            <font>:</font>
                                                            <font type="text" id="behaviour_of_the_customer_1" name="behaviour_of_the_customer_1" placeholder="BEHAVIOUR OF CUSTOMER"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Financial Status of the Customer </label>
                                                            <font>:</font>
                                                            <font type="text" id="financial_status_of_the_customer_1" name="financial_status_of_the_customer_1" placeholder="FINANCIAL STATUS OF CUSTOMER"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Any Other Information</label>
                                                            <font>:</font>
                                                            <font type="text" id="any_other_information_1" name="any_other_information_1" placeholder="ANY OTHER INFORMATION"> </font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="sub-sub-header" data-toggle="collapse" data-target="#neighbour-verification" class="accordion-toggle" align="center"><strong> CHECK 2</strong></div>
                                                    <div class="row-div">
                                                        <div class="colomn-div">
                                                            <label> Name </label>
                                                            <font>:</font>
                                                            <font type="text" id="name_2" name="name_2" placeholder="NAME"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Address</label>
                                                            <font>:</font>
                                                            <font type="text" id="address_2" name="address_2" placeholder="ADDRESS"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Phone Number </label>
                                                            <font>:</font>
                                                            <font type="text" id="phone_number_2" name="phone_number_2" placeholder="PHONE NO">	</font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                    </div>
                                                    <div class="row-div">
                                                        <div class="colomn-div">
                                                            <label> Known Each Other</label>
                                                            <font>:</font>
                                                            <font type="text" id="known_each_other_2" name="known_each_other_2" placeholder="KNOWN EACH OTHER">	</font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Behaviour of the Customer </label>
                                                            <font>:</font>
                                                            <font type="text" id="behaviour_of_the_customer_2" name="behaviour_of_the_customer_2" placeholder="BEHAVIOUR OF CUSTOMER"> </font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Financial Status of the Customer </label>
                                                            <font>:</font>
                                                            <font type="text" id="financial_status_of_the_customer_2" name="financial_status_of_the_customer_2" placeholder="FINANCIAL STATUS OF CUSTOMER">	</font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Any Other Information </label>
                                                            <font>:</font>
                                                            <font type="text" id="any_other_information_2" name="any_other_information_2" placeholder="ANY OTHER INFORMATION">	</font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                    </div>
                                                    </br>
                                                    <div class="sub-header" data-toggle="collapse" data-target="#neighbour-verification" class="accordion-toggle"> STATUS AND REMARKS</div>
                                                    <div class="row-div">
                                                        <div class="colomn-div">
                                                            <label> Status of Residence Check </label>
                                                            <font>:</font>
                                                            <font type="text" id="status_of_residence_check" name="status_of_residence_check" placeholder="STATUS OF RESIDENCE CHECK"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Status of Neighbour Check </label>
                                                            <font>:</font>
                                                            <font type="text" id="status_of_neighbor_check" name="status_of_neighbor_check" placeholder="STATUS OF NEIGHBOUR CHECK"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> OverAll Status </label>
                                                            <font>:</font>
                                                            <font id="overall_status" name="overall_status">  </font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="colomn-div">
                                                            <label> Remarks if any </label>
                                                            <font>:</font>
                                                            <font type="text" id="remarks_if_any" name="remarks_if_any" placeholder="REMARKS IF ANY"></font>
                                                            <font class="mandatory">*</font>
                                                        </div>
                                                        <div class="row-div">
                                                            <div class="colomn-div">
                                                                <label> Finance Executive Details </label>
                                                                <font>:</font>
                                                                <font type="text" id="fi_executive_details" name="fi_executive_details" placeholder="FINANCE EXECUTIVE DETAILS"></font>
                                                                <font class="mandatory">*</font>
                                                            </div>
                                                            <div class="colomn-div">
                                                                <label> Finance Executive Name </label>
                                                                <font>:</font>
                                                                <font type="text" id="name" name="name" placeholder="FINANCE EXECUTIVE NAME">	</font>
                                                                <font class="mandatory">*</font>
                                                            </div>
                                                            <div class="colomn-div">
                                                                <label> Time of Visit </label>
                                                                <font>:</font>
                                                                <font type="time" id="time_of_visit" name="time_of_visit"></font>
                                                                <font class="mandatory">*</font>
                                                            </div>
                                                        </div>
                                                        </br>
                                                        <div class="row-div">
                                                            <div class="colomn-div" id="family_member_with_residence_photo1_id" style="width:33%;display:block">
                                                                <label> Residence Photo with atleast one Family member-I </label>
                                                                <font>:</font>
                                                                <img id="res-photo-pop" class="file_img" src="" />
                                                            </div>
                                                            <div class="colomn-div" id="family_member_with_residence_photo2_id" style="width:33%;display:none">
                                                                <label> Residence Photo with atleast one Family member-II </label>
                                                                <font>:</font>
                                                                <img id="res-photo-pop1" class="file_img" src="" />
                                                            </div>
                                                            <div class="colomn-div" id="family_member_with_residence_photo3_id" style="width:33%;display:none">
                                                                <label> Residence Photo with atleast one Family member-III </label>
                                                                <font>:</font>
                                                                <img id="res-photo-pop2" class="file_img" src="" />
                                                            </div>
                                                        </div>
                                                        </br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Tab pane 2-->
                                </div>
                                <!-- tab span 5 -->
                            </div>
                            <!--Riight Tab Pane -->
                        </div>
                    </div>
                    <div class="right-pane-task-document-list comment-min" id="right-pane-task-document-list" style="width:20.5%;border: 1px solid #981b1b;overflow-Y:scroll;background-color: #f4f4f4;">
                        <div class="head" style="background-color: #981B1B;color: whitesmoke;border-bottom: 1px solid whitesmoke;" data-toggle="collapse" data-target="#comment-list-pane">
                            <div class="sub-header">
                                <div colspan="4"><font style="font-size:15px;"> Documents Attached <i class="entypo-attach"></i></font></div>
                            </div>
                        </div>
                        <div class="document-list-pane" id="document-list-pane" style="background-color:#f4f4f4;"></div>
                    </div>
                    <div class="right-pane-task-comment-list comment-min" id="right-pane-task-comment-list" style="width:20.5%;overflow-Y:scroll;">
                        <div class="head" style="background-color: #981B1B;color: whitesmoke;border-bottom:1px solid whitesmoke;" data-target="#comment-list-pane">
                            <div class="sub-header">
                                <div colspan="4"><font style="font-size:15px;"> Comments <i class="entypo-chat"></i></font></div>
                            </div>
                        </div>
                        <div id="comment-list-pane" class="comment-list-pane"></div>
                    </div>
                    <div class="form-group text-center">
                        <div style="visibility:hidden;">REWORK RESIDENCE</div>
                        <div id="upload_doc_tag">Click to Upload Documents</div>
                        <div id="upload_doc_content">
                            <div id="extra_doc_upload">
                                <input type="text" id="upload_doc_name_1" placeholder="DOC NAME" style="width:25%;" />&nbsp
                                <input type="file" id="upload_doc_1" onclick="setURL(this.id);" class="alf_node_ref_img" style="width:30%;display:inline-block;" />
                                <input type="text" id="upload_doc_url_1" style="width:30%;margin-right:5%;" />
                                <img class="file_img" id="upload_doc_img_1" src="" />
                            </div>
                            <br>
                            <div id="extra_doc_upload">
                                <input type="text" id="upload_doc_name_2" placeholder="DOC NAME" style="width:25%;" />&nbsp
                                <input type="file" id="upload_doc_2" onclick="setURL(this.id);" class="alf_node_ref_img" style="width:30%;display:inline-block;" />
                                <input type="text" id="upload_doc_url_2" style="width:30%;margin-right:5%;" />
                                <img class="file_img" id="upload_doc_img_2" src="" />
                            </div>
                            <br>
                            <div id="extra_doc_upload">
                                <input type="text" id="upload_doc_name_3" placeholder="DOC NAME" style="width:25%;" />&nbsp
                                <input type="file" id="upload_doc_3" onclick="setURL(this.id);" class="alf_node_ref_img" style="width:30%;display:inline-block;" />
                                <input type="text" id="upload_doc_url_3" style="width:30%;margin-right:5%;" />
                                <img class="file_img" id="upload_doc_img_3" src="" />
                            </div>
                        </div>
                        <br>
                        <div class="colomn-div-footer" id="colomn-div-footer">
                            <br>
                            <textarea style="width:90%;height:5%;background-color:white;font-size: 11px;" id="comments" placeholder="Comments"></textarea><font class="mandatory">*</font>

                            <div style="padding-top:1%;">
                                <a href="javascript:void(0)" onclick='window.location="/tasks/"' class="btn btn-red btn-icon icon-left" style="height:30px;padding-left:40px;margin-bottom: 5px;margin-top: 5px;">
                                    <i class="icon-entypo-cancel" style="width:30px;height: 28px;color: white;padding:6px;"></i> Cancel
                                </a>
                                <a href="javascript:void(0)" onclick="submitProcessFormReadResidence();" class="btn btn-red btn-icon icon-left" style="height:30px;padding-left:40px;margin-bottom: 5px;margin-top: 5px;">
                                    <i class="icon-entypo-forward" style="width:30px;height: 28px;color: white;padding:6px;"></i> Rework Completed
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup"></div>
        </div>
    </div>
    <!--main tab-->
    {% include "footer.html" %}
</body>
<script type="text/javascript" src="/static/form/commonFunctions.js"></script>
<script type="text/javascript" src="/static/js/hmac-sha256.js"></script>
<script type="text/javascript" src="/static/js/enc-base64-min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
<script type="text/javascript">
var signature;
var secret;
var accessKey;
var POLICY_JSON;
dateNow = new Date().toISOString();    
dateNowRaw = dateNow.substr(0, dateNow.indexOf("T")).replace(/-/g, ""),
dateNow = dateNow.replace(/\-/g,'')
dateNow =  dateNow.replace(/\:/g,'')
dateNow = dateNow.replace(/\./g,'')
console.log(dateNow);
console.log(dateNowRaw);
expiration = new Date();
expiration.setHours(expiration.getHours() + 1);
expiration = expiration.toISOString();

/*
   window.onload=function (){
		$.ajax({
			url: '/generateToken',
			success: function(data) {
				//secret = data["secKey"];  
				secret = '/RA7tyW+XUUVC0a8gZXkEsv1c1AYMbDCjTTbKIQ3';
				//accessKey = data["accessKey"];
				accessKey = 'AKIAIHQM7OPOPQMVKPVA';
				console.log(data["sessionTok"]);
				POLICY_JSON = { "expiration": expiration,
            "conditions": [
            {"bucket": "chows3"},
            ["starts-with", "$key", "user/tests3"],
            {"acl": 'public-read'},    
            {"success_action_redirect": "http://google.com"},                    
            ["starts-with", "$Content-Type", ""],
            {"x-amz-server-side-encryption": "AES256"},
            ["starts-with", "$x-amz-meta-tag", ""],
        	{"x-amz-credential": accessKey + "/" + dateNowRaw + "/ap-south-1/iam/aws4_request"},
            {"x-amz-algorithm": "AWS4-HMAC-SHA256"},
			{'signatureVersion': 'v4'},
            ["content-length-range", 0, 524288000],
            {'x-amz-security-token': data["sessionTok"]},
        	{"x-amz-date": dateNow}
        	],
          };
          
    //var policyBase64 = Base64.encode(JSON.stringify(POLICY_JSON));
	//var policyBase64 ="eyAiZXhwaXJhdGlvbiI6ICIyMDE1LTEyLTMwVDEyOjAwOjAwLjAwMFoiLA0KICAiY29uZGl0aW9ucyI6IFsNCiAgICB7ImJ1Y2tldCI6ICJzaWd2NGV4YW1wbGVidWNrZXQifSwNCiAgICBbInN0YXJ0cy13aXRoIiwgIiRrZXkiLCAidXNlci91c2VyMS8iXSwNCiAgICB7ImFjbCI6ICJwdWJsaWMtcmVhZCJ9LA0KICAgIHsic3VjY2Vzc19hY3Rpb25fcmVkaXJlY3QiOiAiaHR0cDovL3NpZ3Y0ZXhhbXBsZWJ1Y2tldC5zMy5hbWF6b25hd3MuY29tL3N1Y2Nlc3NmdWxfdXBsb2FkLmh0bWwifSwNCiAgICBbInN0YXJ0cy13aXRoIiwgIiRDb250ZW50LVR5cGUiLCAiaW1hZ2UvIl0sDQogICAgeyJ4LWFtei1tZXRhLXV1aWQiOiAiMTQzNjUxMjM2NTEyNzQifSwNCiAgICB7IngtYW16LXNlcnZlci1zaWRlLWVuY3J5cHRpb24iOiAiQUVTMjU2In0sDQogICAgWyJzdGFydHMtd2l0aCIsICIkeC1hbXotbWV0YS10YWciLCAiIl0sDQoNCiAgICB7IngtYW16LWNyZWRlbnRpYWwiOiAiQUtJQUlPU0ZPRE5ON0VYQU1QTEUvMjAxNTEyMjkvdXMtZWFzdC0xL3MzL2F3czRfcmVxdWVzdCJ9LA0KICAgIHsieC1hbXotYWxnb3JpdGhtIjogIkFXUzQtSE1BQy1TSEEyNTYifSwNCiAgICB7IngtYW16LWRhdGUiOiAiMjAxNTEyMjlUMDAwMDAwWiIgfQ0KICBdDQp9";
	//var policyBase64 ="eyAiZXhwaXJhdGlvbiI6IGV4cGlyYXRpb24sDQogICAgICAgICAgICAiY29uZGl0aW9ucyI6IFsNCiAgICAgICAgICAgIHsiYnVja2V0IjogImNob3dzMyJ9LA0KCQkJeydzaWduYXR1cmVWZXJzaW9uJzogJ3Y0J30sDQogICAgICAgICAgICBbInN0YXJ0cy13aXRoIiwgIiRrZXkiLCAidXNlci90ZXN0czMiXSwNCiAgICAgICAgICAgIHsiYWNsIjogJ3B1YmxpYy1yZWFkJ30sICAgIA0KICAgICAgICAgICAgeyJzdWNjZXNzX2FjdGlvbl9yZWRpcmVjdCI6ICJodHRwOi8vZ29vZ2xlLmNvbSJ9LCAgICAgICAgICAgICAgICAgICAgICAgDQogICAgICAgICAgICBbInN0YXJ0cy13aXRoIiwgIiRDb250ZW50LVR5cGUiLCAiIl0sDQogICAgICAgICAgICBbImNvbnRlbnQtbGVuZ3RoLXJhbmdlIiwgMCwgNTI0Mjg4MDAwXSwNCiAgICAgICAgICAgIHsneC1hbXotc2VjdXJpdHktdG9rZW4nOiBkYXRhWyJzZXNzaW9uVG9rIl19LA0KICAgICAgICAgICAgeyJ4LWFtei1zZXJ2ZXItc2lkZS1lbmNyeXB0aW9uIjogIkFFUzI1NiJ9LA0KICAgICAgICAgICAgeyJ4LWFtei1hbGdvcml0aG0iOiAiQVdTNC1ITUFDLVNIQTI1NiJ9LA0KICAgICAgICAJeyJ4LWFtei1jcmVkZW50aWFsIjogYWNjZXNzS2V5ICsgIi8iICsgZGF0ZU5vd1JhdyArICIvdXMtZWFzdC0xL2lhbS9hd3M0X3JlcXVlc3QifSwNCiAgICAgICAgCXsieC1hbXotZGF0ZSI6IGRhdGVOb3d9DQogICAgICAgIAldLA0KICAgICAgICAgIH0=";
	
	//console.log(policyBase64);
    //signature = b64_hmac_sha1(secret, policyBase64);
	//signature = CryptoJS.HmacSHA1(policyBase64, secret);
    
	signature = CryptoJS.HmacSHA256(POLICY_JSON, secret);
	var signatureInBase64 = CryptoJS.enc.Base64.stringify(signature);
    console.log( signature);      
    console.log( signatureInBase64);
    	}
		});}
		
		
	*/	
    function get_signature_key(secret, date, region, service)
	{
		var kDate = CryptoJS.HmacSHA256(date, "AWS4" + secret)
		var kRegion = CryptoJS.HmacSHA256(region, kDate)
		var kService = CryptoJS.HmacSHA256(service, kRegion)
		return CryptoJS.HmacSHA256("aws4_request", kService)
	}

	var kSecret = "/RA7tyW+XUUVC0a8gZXkEsv1c1AYMbDCjTTbKIQ3"
	var date = dateNowRaw;
	var region = "ap-south-1"
	var service = "iam"
	var req_date = dateNow;
	var hash = 'eyAiZXhwaXJhdGlvbiI6ICIyMDE1LTEyLTMwVDEyOjAwOjAwLjAwMFoiLA0KICAiY29uZGl0aW9ucyI6IFsNCiAgICB7ImJ1Y2tldCI6ICJzaWd2NGV4YW1wbGVidWNrZXQifSwNCiAgICBbInN0YXJ0cy13aXRoIiwgIiRrZXkiLCAidXNlci91c2VyMS8iXSwNCiAgICB7ImFjbCI6ICJwdWJsaWMtcmVhZCJ9LA0KICAgIHsic3VjY2Vzc19hY3Rpb25fcmVkaXJlY3QiOiAiaHR0cDovL3NpZ3Y0ZXhhbXBsZWJ1Y2tldC5zMy5hbWF6b25hd3MuY29tL3N1Y2Nlc3NmdWxfdXBsb2FkLmh0bWwifSwNCiAgICBbInN0YXJ0cy13aXRoIiwgIiRDb250ZW50LVR5cGUiLCAiaW1hZ2UvIl0sDQogICAgeyJ4LWFtei1tZXRhLXV1aWQiOiAiMTQzNjUxMjM2NTEyNzQifSwNCiAgICB7IngtYW16LXNlcnZlci1zaWRlLWVuY3J5cHRpb24iOiAiQUVTMjU2In0sDQogICAgWyJzdGFydHMtd2l0aCIsICIkeC1hbXotbWV0YS10YWciLCAiIl0sDQoNCiAgICB7IngtYW16LWNyZWRlbnRpYWwiOiAiQUtJQUlPU0ZPRE5ON0VYQU1QTEUvMjAxNTEyMjkvdXMtZWFzdC0xL3MzL2F3czRfcmVxdWVzdCJ9LA0KICAgIHsieC1hbXotYWxnb3JpdGhtIjogIkFXUzQtSE1BQy1TSEEyNTYifSwNCiAgICB7IngtYW16LWRhdGUiOiAiMjAxNTEyMjlUMDAwMDAwWiIgfQ0KICBdDQp9'
	var request = "AWS4-HMAC-SHA256\n"+req_date+"\n"+date+'/'+region+'/'+service+'/aws4_request'+"\n"+hash

	console.log(request);
	var kSignature = get_signature_key(kSecret, date, region, service)
	var signature = CryptoJS.HmacSHA256(request, kSignature)

	console.log(signature.toString())


    
    setScreenHeightWithComments();
    var screenHeight = $(window).height();
    var data = '{{ memberDetails	| safe	   }}';
    var member_id = "{{ memberId 		| escapejs }}";
    var loan_id = "{{ loanId 		| escapejs }}";
    var user_id = "{{ user 			| escapejs }}";
    var task_id = "{{ taskId 		| escapejs }}";
    var processid = "{{ processId		| safe	   }}";
    var alf_token = "{{ alf_token		| escapejs }}";
    var allData = (JSON.parse(data));
    var json_data = allData;
    var dataObj = new FormData();
    var updocArray = [];
	
    var arr = {};
    commentsPopUp(json_data);
    documentsPopUp(json_data);
    setTimeout(loadData, 500);
   
</script>

</html>
