<!DOCTYPE html>
<html>
<head>

<link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"  />
<link type="text/css" href="/static/css/jquery.selectBoxIt.css" rel="stylesheet" />
<link type="text/css" href="/static/css/task.css" rel="stylesheet" />
<!-- Madura css -->
<link rel="stylesheet" href="/static/css/font-icons/entypo/css/entypo.css"  id="style-resource-2">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"  id="style-resource-3">
<link rel="stylesheet" href="/static/css/neon-core-min.css"  id="style-resource-5">
<link rel="stylesheet" href="/static/css/neon-theme-min.css"  id="style-resource-6">
<link rel="stylesheet" href="/static/css/neon-form-min.css"  id="style-resource-7">
<link rel="stylesheet" href="/static/css/jalert.css">
<link rel="stylesheet" href="/static/css/form.css">
<link rel="stylesheet" href="/static/css/custom2.css">				<!-- custom css for loan officer process -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Scripts -->
<script type="text/javascript" src="/static/js/1.9.1-jquery.min.js"></script>	<!-- Main Library js-->
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>	<!-- Main Library js-->
<script type="text/javascript" src="/static/js/bootstrap.js"></script>		<!-- Bootstrap js-->
<script type="text/javascript" src="/static/js/jquery.selectBoxIt.js"></script>
<script type="text/javascript" src="/static/js/crossfilter.js"></script> 


<!--MASTER DATA -->
<script type="text/javascript" src="/static/form/masterData.js"></script> 
<script type="text/javascript" src="/static/form/masterDataLoad.js"></script> 
<style>

@media only screen and (min-width:601px){
	.colomn-div label{
		font-size:13px;
		display	: inline-block;
		width: 25%;
		/*width	: 30%;
		/*text-align:right;*/
		text-align: left;
		padding-left: 5%;
		
	}
	.img-input input{
		width	: 38%;
		margin-left:42.5%;
	}
	.form-control {
    		width: 25%;
    		display: inline-block;
		padding-left:2%;
		margin-left:6%;
	}
	.colomn-div input{
    		margin-left: 3%;
		width:30%;
	}
	.center-pane{
		width:80%;
		margin: 3% auto;
		display:block;
		border:2px solid sienna;
		border-radius:10px;
	}
	.h3-heading h3{
		padding-top:20px;
		color:white;
		font-weight:bolder;
		margin-top:initial;
	}
	.file_img {
	        float: right;
	        display: inline-block;
	        max-width: 21px;
	        max-height: 21px;
	        cursor: pointer;
	        margin-right:12%;
	        border: 0 none;
		    
	}
	.right-pane-task{
		width:100%;
		margin: 10 auto;
	}
}
@media only screen and (min-width:0px) and (max-width:600px){
	.right-pane-task{
		width:95%;

	}
	.center-pane{
		width:90%;
		line-height: normal;
		margin: 3% auto;
		display:block;
		border:2px solid sienna;
		border-radius:10px;
	}
	.colomn-div input{
    		margin-left: 3%;
	}
	.img-input input{
		margin-left:43.5%;
	}
	.colomn-div label{
		font-size:13px;
		padding-left:10%;
		width: 36%;
	}
	.file_img{
		margin-right: 35px;
	}
	.modal {
	       display: none; 
	       position: fixed; 
	       z-index: 1; 
	       padding-top:100px; 
	       left: 0;
	       top: 0;
	       width: 100%; 
	       height: 100%;
	       overflow: auto; 
	       background-color: rgb(0,0,0); 
	       background-color: rgba(0,0,0,0.4); 
	}
	
	.modal-body {
		 position: relative;
		 /*padding: 20px;*/
		 border:1px solid #981b1b;
          	 /*height:100%;*/
		 overflow-y: auto;
    		 max-height: 400px;
		 word-wrap:break-word;
	
		}
	.modal_comment_div{
		 border: 1px solid #aaaaaa;/*#981b1b;*/
		padding:1%;
		border-radius:10px;
		margin-bottom:4px;
		color:#981b1b;
		
	}
	.comment{
		margin-bottom: 2%;
		margin-left: 14px;
    		color:black;
    		width:90%;		
		line-height:2;
		
	}

	.modal-content {
			background-color: #fefefe;
			margin: auto;
			/*padding: 20px;*/
			border: 5px solid #981b1b;
			width: 60%;
			height:64%;   
		}

	.close {
			color: #aaaaaa;
			float: right;
			font-size: 25px;
			font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
	
}

</style>

</head>
<body>
	<!-- Top Bar -->
	<div class="navbar navbar-fixed-top">
		{% include "header1.html" %} 
	</div>
	{% csrf_token %}
	<!-- Main Content -->
    	<div class="main">	
	    <div class="task-div">	
		<div class="main-task">
		   <div  class="right-pane-task" id="right-pane-task">	
			<div id="tabs">
			    <ul id="form-tab">
				<li style="float:right;list-style-type:none;">
			    	<span class="comment-toggle" style="float:right;display:inline-block;padding-bottom:10px;s"><i class="entypo-chat"></i> Comments</span>
				</li>
			    </ul>
			</div>
			<div id="myModal" class="modal">
				<!-- Modal content -->
				  <div class="modal-content">
				    <span class="close">x</span>
				    <p><strong>COMMENTS</strong></p>
					<div class="modal-body">
						<div class="modal_comment_div">
							<p><font class="entypo-user"  id="comment_username_1">User1</font>
							   <font id="comment_date_1" style="float:right;padding-right:20px;">Date:18-06-2016</font></br>
								<div class="comment">
									<font id="user_comment_1">Comments</font>
								</div>
							</p>
						</div>
						<div class="modal_comment_div">
							<p><font class="entypo-user"  id="comment_username_2">User2</font>
							   <font id="comment_date_2" style="float:right;padding-right:20px;">Date:20-06-2016</font></br>
								<div class="comment">
									<font id="user_comment_2">Comments</font>
								</div>
							</p>
						</div>
						<div class="modal_comment_div">
							<p><font class="entypo-user"  id="comment_username_3">User1</font>
							   <font id="comment_date_3" style="float:right;padding-right:20px;">Date:02-07-2016</font></br>
								<div class="comment">
									<font id="user_comment_3">Comments</font>
								</div>
							</p>
						</div>
						<div class="modal_comment_div">
							<p><font class="entypo-user"  id="comment_username_4">User3</font>
							   <font id="comment_date_4" style="float:right;padding-right:20px;">Date:13-07-2016</font></br>
								<div class="comment">
									<font id="user_comment_4">Comments</font>
								</div>
							</p>
						</div>
						<div class="modal_comment_div">
							<p><font class="entypo-user"  id="comment_username_5">User2</font>
							   <font id="comment_date_5" style="float:right;padding-right:20px;">Date:18-07-2016</font></br>
								<div class="comment">
									<font id="user_comment_5">Comments</font>
								</div>
							</p>
						</div>
					</div>
				</div>
			</div>
				
			<div class="right-pane-task-detail detail-max" id="right-pane-task-detail" style="background-color: rgba(218, 216, 216, 0.2);">
     		        	<div class="center-pane" id="center-pane"> 
		       			<!--Div HEader-->
					<div class="h3-heading" >
						<h3 >Upload Documents</h3>
						<h4 id="loan_id">	Loan ID : <span id="doc_loan_id">	198	</span> ,   Member Id : <span id="doc_member_id">	421	</span>	 </h4>				
					</div>
					<div>					
					<!--INput Values-->
					    <div class="member_class">
						<div class="colomn-div">
						    <label id="doc_status_1">LOS</label>
						    <font>:</font>
						    <input type="text" readonly="" id="doc_name_1" name="doc_name_1"></input>
						    <input type="file" style="width: 15%;" id="doc_1" name="doc_1" onclick="setURL(this.id);"></input>
						    <img id="doc_url_1_img_pop" class="file_img" src="" style="display: none; max-height: 100%; max-width: 100%;"/>
						    <a id="doc_url_1_anchor" class="file_img" href="htpp://aaaaaa" style="color: rgb(152, 27, 27);"> 
						        <i class="fa fa-file-text" aria-hidden="true" style="font-size: 25px; margin-left: -14px;"></i>
						    </a>
					        </div>
					    </div>
					</div>
					<div>					
					    <div class="member_class">
						<div class="colomn-div">
						    <label id="doc_status_2">Loan Agreement</label>
						    <font>:</font>
						    <input type="text" readonly="" id="doc_name_2" name="doc_name_2"></input>
						    <input type="file" style="width: 15%;" id="doc_2" name="doc_2" onclick="setURL(this.id);"></input>
						    <img id="doc_url_2_img_pop" class="file_img" src="" style="display: none; max-height: 100%; max-width: 100%;"/>
						    <a id="doc_url_2_anchor" class="file_img" href="htpp://aaaaaa" style="color: rgb(152, 27, 27);"> 
						        <i class="fa fa-file-text" aria-hidden="true" style="font-size: 25px; margin-left: -14px;"></i>
						    </a>
					        </div>
					    </div>
					</div>
					<div>					
					    <div class="member_class">
						<div class="colomn-div">
						    <label id="doc_status_3">Promissory Note</label>
						    <font>:</font>
						    <input type="text" readonly="" id="doc_name_3" name="doc_name_3"></input>
						    <input type="file" style="width: 15%;" id="doc_3" name="doc_3" onclick="setURL(this.id);"></input>
						    <img id="doc_url_3_img_pop" class="file_img" src="" style="display: none; max-height: 100%; max-width: 100%;">
						    <a id="doc_url_3_anchor" class="file_img" href="htpp://aaaaaa" style="color: rgb(152, 27, 27);"> 
						        <i class="fa fa-file-text" aria-hidden="true" style="font-size: 25px; margin-left: -14px;"></i>
						    </a>
					        </div>
					    </div>
					</div>
					<div>					
					    <div class="member_class">
						<div class="colomn-div">
						    <label id="doc_status_4">NACH Form</label>
						    <font>:</font>
						    <input type="text" readonly="" id="doc_name_4" name="doc_name_4"></input>
						    <input type="file" style="width: 15%;" id="doc_4" name="doc_4" onclick="setURL(this.id);"></input>
						    <img id="doc_url_4_img_pop" class="file_img" src="" style="display: none; max-height: 100%; max-width: 100%;"/>
						    <a id="doc_url_4_anchor" class="file_img" href="htpp://aaaaaa" style="color: rgb(152, 27, 27);"> 
						        <i class="fa fa-file-text" aria-hidden="true" style="font-size: 25px; margin-left: -14px;"></i>
						    </a>
					        </div>
					    </div>
					</div>
					<div>					
					    <div class="member_class">
						<div class="colomn-div">
						    <label id="doc_status_5">PDC</label>
						    <font>:</font>
						    <input type="text" readonly="" id="doc_name_5" name="doc_name_5"></input>
						    <input type="file" style="width: 15%;" id="doc_5" name="doc_5" onclick="setURL(this.id);"></input>
						    <img id="doc_url_5_img_pop" class="file_img" src="" style="display: none; max-height: 100%; max-width: 100%;"/>
						    <a id="doc_url_5_anchor" class="file_img" href="htpp://aaaaaa" style="color: rgb(152, 27, 27);"> 
						        <i class="fa fa-file-text" aria-hidden="true" style="font-size: 25px; margin-left: -14px;"></i>
						    </a>
					        </div>
					    </div>
					    <div class="member_class" id="add-more-btn">
						<div class="form-button text-right" style="margin-right:5%;"><a href="javascript:void(0)" id="add-btn-id" class="btn btn-red btn-icon icon-left" style="height:30px;padding-left:40px;"><i class="entypo-plus" style="width:30px;height: 28px;color: white;padding:6px;">	</i>Add more</a></div>
						<br>
					    </div>
					</div>
					<!--div class="member_class" style="padding-top:8px;" id="member_class_1">
						<div class="colomn-div">
							<select id="doc_type_1" class="extra select form-control doc_type" name="doc_type_1">	</select>
								<input  type="file" 	id="doc_name_1"  	name="doc_name_1"	  onclick="setURL(this.id);" 	placeholder="LOAN AGREEMENT"	/>	
								<img    id="doc_1_pop" 	class="file_img" 	src="" />	
						</div>
					</div>
					<div class="member_class" id="member_class_2">
						<div class="colomn-div">
							<select id="doc_type_2" class="extra select form-control doc_type" name="doc_type_2">	</select>
								<input  type="file" 	id="doc_name_2"  	name="doc_name_2"	  onclick="setURL(this.id);" 	placeholder="LOAN AGREEMENT"	/>
								<img    id="doc_2_pop" 	class="file_img" 	src="" />	
						</div>
					</div>
					<div class="member_class" id="member_class_3">
						<div class="colomn-div">
							<select id="doc_type_3" class="extra select form-control doc_type" name="doc_type_3">	</select>
								<input  type="file" 	id="doc_name_3"  	name="doc_name_3"	  onclick="setURL(this.id);" 	placeholder="LOAN AGREEMENT"	/>
								<img    id="doc_3_pop" 	class="file_img" 	src="" />	
						</div>
					</div>
					<div class="member_class" id="member_class_4">
						<div class="colomn-div">
							<select id="doc_type_4" class="extra select form-control doc_type" name="doc_type_4">	</select>
								<input  type="file" 	id="doc_name_4"  	name="doc_name_4"	  onclick="setURL(this.id);" 	placeholder="LOAN AGREEMENT"	/>
								<img    id="doc_4_pop" 	class="file_img" 	src="" />	
						</div>
					</div>
					<div class="member_class" id="member_class_5">
						<div class="colomn-div">
							<select id="doc_type_5" class="extra select form-control doc_type" name="doc_type_5">	</select>
								<input  type="file" 	id="doc_name_5"  	name="doc_name_5"	  onclick="setURL(this.id);" 	placeholder="LOAN AGREEMENT"	/>
								<img    id="doc_5_pop" 	class="file_img" 	src="" />	
						</div>
					</div>
					<div class="member_class" id="add-more-btn">
					<div class="form-button text-right" style="margin-right:5%;" >
					<a href="javascript:void(0)" 		id="add-btn-id" class="btn btn-red btn-icon icon-left"		 style="height:30px;padding-left:40px;">
				  		<i 	class="entypo-plus"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>
				   		Add more
					</a></div><br></div-->
				   		
				</div>	
			</div>
			<div class="right-pane-task-comment-list comment-min" id="right-pane-task-comment-list">	
		    		<h3>Comments</h3>
					<div class="comment-list-pane" id="comment-list-pane"> </div>																		
	   		</div>
			<!--Submit Button DIv-->
			<div class="form-group text-center">
				<div class="form-button" id="upload_button">
					<a href="javascript:void(0)"	onclick=''	class="btn btn-red btn-icon icon-left"		 style="height:30px;padding-left:40px;">
				  	        <i 	class="icon-entypo-cancel"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>
				   	        Cancel
					</a>
					<a href="javascript:void(0)"	onclick="onUpload();" 	class="btn btn-red btn-icon icon-left" 		style="height:30px;padding-left:40px;">
				  	        <i 	class="icon-entypo-check" 	style="width:30px;height: 28px;color: white;padding:6px;">	</i>
				    	        Upload
					</a>
			    	</div>
				<div class="form-button" id="reupload_button" style="display:none;">
				    <textarea style="width:90%;height:20%;background-color:white;font-size: 11px;" id="comments"    placeholder="Comments"></textarea><font class="mandatory">*</font>
				    <div style="padding-top:1%;">
					<a href="javascript:void(0)"	onclick=''	class="btn btn-red btn-icon icon-left"		 style="height:30px;padding-left:40px;">
				  	        <i class="icon-entypo-cancel"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>
				   	        Cancel
					</a>
					<a href="javascript:void(0)"	onclick="onUpload('Rework Completed');" 	class="btn btn-red btn-icon icon-left" 		style="height:30px;padding-left:40px;">
				  	        <i class="icon-entypo-check" 	style="width:30px;height: 28px;color: white;padding:6px;">	</i>
				    	        Rework Completed
					</a>
				    </div>
			    	</div>
			    	<br><br>	<br>
			</div>
			<div class="popup">	</div>
	  	</div>
	    </div>
        </div>
    </div>

	    {% include "footer.html" %} 

</body>


<script type="text/javascript" src="/static/form/masterDataLoad.js"></script> 
<script type="text/javascript"> 


    var data 	    = '{{ memberDetails	| safe	   }}';
    var member_id   = "{{ memberId	| escapejs }}";
    var loan_id	    = "{{ loanId 	| escapejs }}";	
    var user_id	    = "{{ user 		| escapejs }}";
    var task_id	    = "{{ taskId 	| escapejs }}";
    var processid   = "{{processId	| safe	   }}";

    var json_data   =  JSON.parse(data);

    if(document.getElementById("loan_id")){
    	document.getElementById("loan_id").innerHTML = 'Loan ID : <span id="loan_Id">'+loan_id+'</span>, Member Id : <span id="member_Id">'+member_id+'</span> '
    }
    
    /*For Comments*/
    var html='<label class="comment-user" >No Comments</label>';
    if(json_data.mlcompositeArray){
    
	var objData = json_data.mlcompositeArray[0];
	if(objData['mlValidationArray'].length>0){
    	    html=''; 		
	    for(var i=0;i<objData['mlValidationArray'].length; i++){
	    	var usernme = objData['mlValidationArray'][i]['validation_fk_last_modified_by'];
	    	var remarks = objData['mlValidationArray'][i]['remarks'];	
	    	var validation_last_modified_date = objData['mlValidationArray'][i]['validation_last_modified_date'];	

		html +='<div id="comment-pane" class="comment-pane">'
			    +'<div class="comments-list-pane">'
				+'<label class="comment-user" ><i class="entypo-user"></i>'+usernme+'</label> <font class="comment-date"> '+validation_last_modified_date+' </font>'
				+'<div class="comment-comment">'+remarks+'</div>'
			    +'</div>'
			+'</div>';
	    }	
	}
    }
    document.getElementById('comment-list-pane').innerHTML = html;    

    


    $(document).ready(function() {
	if($(window).width() >= 601){
		$('.comment-toggle').on('click', function () {
	   	 $('#right-pane-task-detail').toggleClass('detail-max detail-min');
			 $('#right-pane-task-comment-list').toggleClass('comment-min comment-max');
		});
	}
	if($(window).width() <= 600){
		$('.comment-toggle').on('click', function () {
			$('#myModal').css('display','block');
		});
		$('.close').on('click', function (){
			  $('#myModal').css('display','none');
		});
		window.onclick = function(event) {
			if (event.target == document.getElementById('myModal')) {
			 $('#myModal').css('display','none');
			}
		}	    	
	}
	
	var docTypeArrayDic   = {	
		'LOS'		  : 'LOS',
		'LOAN AGREEMENT'  : 'LOAN AGREEMENT',
		'PROMISSORY NOTE' : 'PROMISSORY NOTE',
		'NACH FORM'	  : 'NACH FORM',
		'PDC'		  : 'PDC',
		'OTHER'		  : 'OTHER'
	    };

	$('.doc_type').append('<option value="">   SELECT   </option>');
	
	for(var key in docTypeArrayDic ){		
		$('.doc_type').append('<option value="'+(key)+'">'+docTypeArrayDic[key]+'</option>');
	}

	/*data load*/
 	/*Loading Dcuments data* /	
	if(json_data.documentsArray){
	    if(json_data.documentsArray[0]){
		
	        $('#upload_button').css("display","none");    
	        $('#reupload_button').css("display","block");
	        document.getElementById('center-pane').innerHTML = '<div class="h3-heading">'+
								   '<h3>Upload Documents</h3>'+
							           '<h4 id="loan_id">Loan ID : <span id="loan_Id">206</span>, Member Id : <span id="member_Id">429</span> </h4>'+				
								'</div>';
	        for(var i=0;i<json_data.documentsArray.length;i++){	
	            var obj	  	=json_data.documentsArray[i];
		    var objTo 	  	=  document.getElementById('center-pane')
		    var member_class  	=  document.createElement("div");
		    var new_html 	= '';
	   		
   		    if((json_data.documentsArray.length - 1) == i){
	    		member_class.innerHTML   = '<div  class="member_class" id="member_class_'+(i+1)+'">'+
	    					    '<div class="colomn-div">'+
							'<label id="doc_'+(i+1)+'"name="doc_'+(i+1)+'"style="width:17%;background:transparent;border:1 black;"  value="'+obj["doc_status"]+'">'+obj["doc_status"]+'</label>'+	
							'<img id="doc_'+(i+1)+'_pop" class="file_img" src="" ></img>'+
						     '</div>'+
						  '</div>'+
						  '<div class="member_class" id="add-more-btn">'+
							'<div class="form-button text-right" style="margin-right:5%;">'+
						 	    '<a href="javascript:void(0)"  id="add-btn-id" class="btn btn-red btn-icon icon-left"  style="height:30px;padding-left:40px;">'+
							    '<i 	class="entypo-plus"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>Add more</a>'+
							'</div><br>'+
						  '</div>';
		    }else{
	    		member_class.innerHTML = '<div  class="member_class" id="member_class_'+(i+1)+'">'+
		    				    '<div class="colomn-div">'+
							'<label id="doc_'+(i+1)+'"name="doc_'+(i+1)+'"style="width:50%;background:transparent;border:1 black;"  value="'+obj["doc_status"]+'">'+obj["doc_status"]+'</label>'+									
							'<font>:</font>'+
							'<img id="doc_'+(i+1)+'_pop" class="file_img" src="" ></img>'+
						     '</div>'+
						  '</div>';
		    }  		 				 						     		 				 
		    objTo.appendChild(member_class);
			        
		    if(obj["doc_name"]){
			if(document.getElementById("doc_name_"+(i+1)+""))
			    document.getElementById("doc_url_"+(i+1)+"").value   =   obj["doc_name"];
		    }
		    if(obj["doc_url"]){
			if(document.getElementById('doc_'+(i+1)+'_pop'))
			   $('#doc_'+(i+1)+'_pop').attr("src",	obj["doc_url"]);
  		    }	
	        }		
	    }
	}
	/*Data load*/
	var imageArr = ["jpeg", "jpg", "exif", "tiff", "gif", "bmp", "png", "image/jpeg"]	;
     	
    if(json_data.documentsArray){
	if(json_data.documentsArray[0]){
	    $('#upload_button').css("display","none");    
	    $('#reupload_button').css("display","block");
	     document.getElementById('center-pane').innerHTML = '<div class="h3-heading">'+
								   '<h3>Upload Documents</h3>'+
							           '<h4 id="loan_id">Loan ID : <span id="loan_Id">206</span>, Member Id : <span id="member_Id">429</span> </h4>'+				
								'</div>';
	    for(var i=0 ; i<json_data.documentsArray.length; i++)
		{	
			
			var objTo 	  =  document.getElementById('center-pane')
			var member_class  =  document.createElement("div");
			var obj  	  =  json_data.documentsArray[i];
			if((json_data.documentsArray.length - 1) != i){
			    member_class.innerHTML  =  '<div class="member_class"><div class="colomn-div">'+
							 '<label id="doc_status_'+(i+1)+'"></label>&nbsp;&nbsp;<font>:</font>'+
							 '<input  type="text" readonly id="doc_name_'+(i+1)+'" 	name="doc_name_'+(i+1)+'" ></input>'+
							 '<input  type="file" style="width: 15%;" 	 id="doc_'+(i+1)+'"  name="doc_'+(i+1)+'" onclick="setURL(this.id);" ></input>'+
			 				 '<img  id="doc_url_'+(i+1)+'_img_pop"  class="file_img" 	src=""></img>'+
			 				 '<a    id="doc_url_'+(i+1)+'_anchor" 	class="file_img" > <i class="fa fa-file-text" aria-hidden="true"></i></a>'+
			 				 '</div></div>';
			 }else{
			     member_class.innerHTML  =  '<div class="member_class"><div class="colomn-div">'+
							 '<label id="doc_status_'+(i+1)+'"></label>&nbsp;&nbsp;&nbsp;&nbsp;<font>:</font>'+
							 '<input  type="text" readonly id="doc_name_'+(i+1)+'" 	name="doc_name_'+(i+1)+'" ></input>'+
							 '<input  type="file" style="width: 15%;" 	 id="doc_'+(i+1)+'"  name="doc_'+(i+1)+'" onclick="setURL(this.id);" ></input>'+
			 				 '<img  id="doc_url_'+(i+1)+'_img_pop"  class="file_img" 	src=""></img>'+
			 				 '<a    id="doc_url_'+(i+1)+'_anchor" 	class="file_img" > <i class="fa fa-file-text" aria-hidden="true"></i></a>'+
			 				 '</div></div>'+
							 '<div class="member_class" id="add-more-btn">'+
								'<div class="form-button text-right" style="margin-right:5%;">'+
							 	    '<a href="javascript:void(0)"  id="add-btn-id" class="btn btn-red btn-icon icon-left"  style="height:30px;padding-left:40px;">'+
								    '<i 	class="entypo-plus"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>Add more</a>'+
								'</div><br>'+
							  '</div>';			 				 			 
			 
			 }	
			 				 

   		    /* if((json_data.documentsArray.length - 1) == i){
	    		member_class.innerHTML   = '<div  class="member_class" id="member_class_'+(i+1)+'">'+
	    					    '<div class="colomn-div">'+
							'<label id="doc_'+(i+1)+'"name="doc_'+(i+1)+'"style="width:17%;background:transparent;border:1 black;"  value="'+obj["doc_status"]+'">'+obj["doc_status"]+'</label>'+	
							'<img id="doc_'+(i+1)+'_pop" class="file_img" src="" ></img>'+
						     '</div>'+
						  '</div>'+
						  '<div class="member_class" id="add-more-btn">'+
							'<div class="form-button text-right" style="margin-right:5%;">'+
						 	    '<a href="javascript:void(0)"  id="add-btn-id" class="btn btn-red btn-icon icon-left"  style="height:30px;padding-left:40px;">'+
							    '<i 	class="entypo-plus"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>Add more</a>'+
							'</div><br>'+
						  '</div>';
		    }else{
	    		member_class.innerHTML = '<div  class="member_class" id="member_class_'+(i+1)+'">'+
		    				    '<div class="colomn-div">'+
							'<label id="doc_'+(i+1)+'"name="doc_'+(i+1)+'"style="width:50%;background:transparent;border:1 black;"  value="'+obj["doc_status"]+'">'+obj["doc_status"]+'</label>'+									
							'<font>:</font>'+
							'<img id="doc_'+(i+1)+'_pop" class="file_img" src="" ></img>'+
						     '</div>'+
						  '</div>';
		    } */			 				 
			 				 
			objTo.appendChild(member_class);
			
			if(obj["doc_name"]  && document.getElementById("doc_name_"+(i+1)+"") ){
				document.getElementById("doc_name_"+(i+1)+"").value=obj["doc_name"];
			}
			
			if(obj["doc_url"]  && document.getElementById("doc_url_"+(i+1)+"_img_pop") ){					
				
			    if(( $.inArray(obj['doc_type'], imageArr)) != -1){
			    
				//if(document.getElementById('#doc_url_'+(i+1)+'_img_pop')){
							    	console.log("11    " + obj['doc_type']);
    			            $('#doc_url_'+(i+1)+'_img_pop').attr("src",	obj['doc_url']);
    			            $('#doc_url_'+(i+1)+'_anchor' ).css("display","none");   
    			        //}
    			        
			    }else if(obj['doc_url'] != 'Document not attached' ){
			    
			    	if(obj['doc_type'] == "pdf"){	
			    	     $('#doc_url_'+(i+1)+'_anchor').html('<i class="fa fa-file-pdf-o" aria-hidden="true"></i>');
		    	        }
			    	if(obj['doc_type'] == "xlsx"){	
			    	     $('#doc_url_'+(i+1)+'_anchor').html('<i class="fa fa-file-excel-o" aria-hidden="true"></i>');
		    	        }
			    	if(obj['doc_type'] == "docx" || obj['doc_type'] == "doc" ){	
			    	     $('#doc_url_'+(i+1)+'_anchor').html('<i class="fa fa-file-text" aria-hidden="true"></i>');
		    	        }	            	        
		    	        	            	        
		                $('#doc_url_'+(i+1)+'_anchor').attr("href",	obj['doc_url']);
		                $('#doc_url_'+(i+1)+'_anchor').css("color",	'#981b1b');
			        $('.fa').css("font-size",	'25px');
			        $('.fa').css("margin-left",	'-14px');
		                $('#doc_url_'+(i+1)+'_img_pop').css("display","none");
		                $('#doc_url_'+(i+1)+'_img_pop').css("max-height","100%");
		                $('#doc_url_'+(i+1)+'_img_pop').css("max-width","100%");	                   
		                
			    }else{
    			            $('#doc_url_'+(i+1)+'_img_pop').css("display","none"); 
    			            $('#doc_url_'+(i+1)+'_anchor').css("display","none");    			            		            
			    
			    }  	
			}	
			if(obj["doc_status"]  && document.getElementById("doc_status_"+(i+1)+"")){
				document.getElementById("doc_status_"+(i+1)+"").innerHTML=obj["doc_status"];
			}
			if(document.getElementById('doc_url')){
				document.getElementById('doc_url').innerHTML 	=	obj['doc_url'];
			}
			var obj= json_data.documentsArray[i];
	       	 	console.log(obj);
		}
	    
	        
                imagePopUp();
	    }		
    }
    imagePopUp();
	
 	var screenHeight  = $(window).height();
	var screenwidth   = $(window).width();
	if(screenHeight){
		var height       =  screenHeight*(0.9);
		var slipHeight   =  height/3;
		$('body').height((height*(0.80)));
		$('.task-div').height((height*(0.80)));
		$('.main-task').height((height*(0.80)));
		$('#right-pane-task').height((height));
		$('#right-pane-task-detail').height((height*(0.85)));
		$('#right-pane-task-comment-list').height((height*(0.895)));
		document.getElementById('right-pane-task-detail').style.overflowY  =  'auto';
	}
		
	$('select').on('change', function() {
		var id_split = this.id.split('_');		
		var id_select = id_split[2];		
		if(this.value != "OTHER"){
		    var html = document.createElement("input");
		    html='<input id="doc_'+id+'"name="doc_'+id_select+'"style="width:17%;background:transparent;border:none;" readonly=readonly></input>';	
		    if(!document.getElementById("doc_"+id_select+"")){
			$(this).after(html);
			document.getElementById("doc_"+id_select+"").value=this.value;
		    }
		}
		if(this.value == "OTHER"){
		    var html = document.createElement("input");
		    html='<input id="doc_'+id+'"name="doc_'+id_select+'"style="width:17%;background:transparent;border:none;" placeholder="TYPE TEXT"></input>';	
		    if(!document.getElementById("doc_"+id_select+""))
		        $(this).after(html);
		    else{
		        document.getElementById("doc_"+id_select+"").remove();
		        html='<input id="doc_'+id_select+'"name="doc_'+id_select+'"style="width:17%;background:transparent;border:none;" placeholder="TYPE TEXT"></input>';	
		        $(this).after(html);
		    }		
		}
		
	});
    });

    $(function() {
	$("#tabs").tabs();
    });

    /*For Extra Files to be Uploaded*/	
    var id_val=5;
    if(json_data.documentsArray){
    	id_val = (json_data.documentsArray.length) ;
    }
    
    /*On Every Click in Add More File Button*/
    $(document).on('click', '#add-btn-id', function(){
   	    var child  =document.getElementById("add-more-btn");	
	    child.remove();
	    id_val++;
	    var objTo = document.getElementById('center-pane')
	    var member_class = document.createElement("div");

	    member_class.innerHTML = '<div class="member_class"><div class="colomn-div">'+
					 '<input  type="text " id="doc_status_'+id_val+'" 	name="doc_status_'+id_val+'" placeholder="File Name" style="width: 22%;text-align: left;padding-left: 5%;" ></input>&nbsp;<font>:</font>'+
					 '&nbsp;<input  type="text " id="doc_name_'+id_val+'" 	name="doc_name_'+id_val+'" readonly ></input>'+
					 '<input  type="file" style="width: 15%;" 	 id="doc_'+id_val+'"  name="doc_'+id_val+'" onclick="setURL(this.id);" ></input>'+
	 				 '<img  id="doc_url_'+id_val+'_img_pop"  class="file_img" 	src=""></img>'+
	 				 '<a    id="doc_url_'+id_val+'_anchor" 	class="file_img" > <i class="fa fa-file-text" aria-hidden="true" style="font-size: 25px; margin-left: -14px;"></i></a>'+
	 				 '</div></div>'+
					 '<div class="member_class" id="add-more-btn">'+
						'<div class="form-button text-right" style="margin-right:5%;">'+
					 	    '<a href="javascript:void(0)"  id="add-btn-id" class="btn btn-red btn-icon icon-left"  style="height:30px;padding-left:40px;">'+
						    '<i 	class="entypo-plus"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>Add more</a>'+
						'</div><br>'+
					  '</div>';
					  			             
	    objTo.appendChild(member_class);
	
	    var docTypeArrayDic   = {	
	     		'LOS'		  :	'LOS',
			'LOAN AGREEMENT'  : 	'LOAN AGREEMENT',
			'PROMISSORY NOTE' :	'PROMISSORY NOTE',
			'NACH FORM'	  :	'NACH FORM',
			'PDC'		  :	'PDC',
			'OTHER'		  :	'OTHER'
			};
	
	    $('#doc_type_'+id_val+"").append('<option value="">   SELECT   </option>');
	    
	    for(var key in docTypeArrayDic){		
		$('#doc_type_'+id_val+"").append('<option value="'+(key)+'">'+docTypeArrayDic[key]+'</option>');
	    }
	
	    $('select').on('change', function() {
		var id_split = this.id.split('_');		
		var id_select = id_split[2];
		if(this.value != "OTHER"){
		    var html = document.createElement("input");
		    html='<input id="doc_'+id_select+'"name="doc_'+id_select+'"style="width:17%;background:transparent;border:none;" readonly=readonly></input>';	
		    if(!document.getElementById("doc_"+id_select+"")){
			$(this).after(html);
		        document.getElementById("doc_"+id_select+"").value=this.value;
		    }
		}
		if(this.value == "OTHER"){
		    var html = document.createElement("input");
		    html	 ='<input id="doc_'+id_select+'"name="doc_'+id_select+'"style="width:17%;background:transparent;border:none;" placeholder="TYPE TEXT"></input>';	
		    if(!document.getElementById("doc_"+id_select+"")){
			$(this).after(html);
		    }else{
			document.getElementById("doc_"+id_select+"").remove();
			html='<input id="doc_'+id_select+'"name="doc_'+id_select+'"style="width:17%;background:transparent;border:none;" placeholder="TYPE TEXT"></input>';	
			$(this).after(html);
		    }		
		}
	   });
	});

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

    if(dd<10) {  dd  =  '0'+dd;   } 

    if(mm<10) {  mm  =  '0'+mm;    } 
    today   =   yyyy + '-' + dd + '-' + mm;
    
    var imageArr = ["jpeg", "jpg", "exif", "tiff", "gif", "bmp", "png", "image/jpeg"];
    function setURL(id){
    		console.log('setURL 12');
		var id_split  = id.split('_');		
		var id_select = id_split[id_split.length-1];
    		console.log(id);
    		console.log(id_split);		
		
		$("#"+id).change(function(){
			console.log('setURL 122');
			console.log(this.value);
			var fileName 	  = this.value;
			fileName	  = fileName.replace(/\\/g,'');			
			var fileNameSplit = fileName.split('.');						
			var fileFormat	  = fileNameSplit[(fileNameSplit.length-1)];
			
			if(( $.inArray(fileFormat, imageArr)) != -1){
			    
		            $('#doc_url_'+(id_select)+'_img_pop').css("display","block");
		            $('#doc_url_'+(id_select)+'_anchor' ).css("display","none");   
    			        
		        }else {
    		            $('#doc_url_'+(id_select)+'_img_pop').css("display","none");
		            $('#doc_url_'+(id_select)+'_anchor' ).css("display","block"); 
			    
			    	if(fileFormat == "pdf"){	
			    	     $('#doc_url_'+(id_select)+'_anchor').html('<i class="fa fa-file-pdf-o" aria-hidden="true"></i>');
		    	        }
			    	if(fileFormat == "xlsx"){	
			    	     $('#doc_url_'+(id_select)+'_anchor').html('<i class="fa fa-file-excel-o" aria-hidden="true"></i>');
		    	        }
			    	if(fileFormat == "docx" || fileFormat == "doc" ){	
			    	     $('#doc_url_'+(id_select)+'_anchor').html('<i class="fa fa-file-text" aria-hidden="true"></i>');
		    	        }	            	        
		    	        	            	        
		                $('#doc_url_'+(id_select)+'_anchor').css("color",	'#981b1b');
			        $('.fa').css("font-size"  ,	 '25px');
			        $('.fa').css("margin-left",	'-14px');
		        }
			
		        document.getElementById("doc_name_"+id_select+"").value = this.value;
    			readURL(this, "doc_"+id_select+"_img_pop");
		});
		imagePopUp();
    }

   	
    function onUpload(){
    
	var doc_url_count =0;
	for( var i = 1; i <= 50; i++ ){
	    if(document.getElementById("doc_name_"+i+"")){
		if(document.getElementById("doc_name_"+i+"").value){
		    doc_url_count += 1;
		}
	    }	
	}
    
        var processupdate  = { "variables": { "Upload_Doc_Status" : { "value" : "New" } } };
    	var documentsArray = [];
	var arr  	   = { "documentsArray"	: documentsArray  };
	var doc_data 	   = new FormData();
	
	var ProcessType = "Upload";
	
	if(json_data.documentsArray){
	    if(json_data.documentsArray[0]){
	        if(json_data.documentsArray.length > 0){
	            for( var i = 1; i <= id_val; i++ ){ 
	                if(jQuery('#doc_'+(i)+"")){
	                    if(jQuery('#doc_'+(i)+"")[0]){
	                        if(jQuery('#doc_'+(i)+"")[0].files){
	                            jQuery.each(jQuery('#doc_'+(i)+"")[0].files, function(j, file) { 
	                                console.log("Json Jquery");
	                                console.log(i);	                    
	                                console.log(json_data.documentsArray[(i-1)]);	                                             
	                                if(json_data.documentsArray[(i-1)]){
			                        json_data.documentsArray[(i-1)]["doc_fk_last_modified_by"] 	= user_id;
			                        json_data.documentsArray[(i-1)]["doc_last_modified_date"] 	= today;
		                                json_data.documentsArray[(i-1)]["doc_name"]  = document.getElementById("doc_name_"+i+"").value;
			                        json_data.documentsArray[(i-1)]["doc_url"]   = document.getElementById("doc_name_"+i+"" ).value;
		                                doc_data.append('file-'+(i+12), file);
			                        if( json_data.documentsArray[(i-1)]["doc_name"]){
				                    json_data.documentsArray[(i-1)]["doc_type"] = file.type;
						    json_data.documentsArray[(i-1)]["doc_name"] = document.getElementById("doc_name_"+i+"").value.replace(/^.*[\\\/]/, '');
				
			                            if( json_data.documentsArray[(i-1)]["doc_name"]  && json_data.documentsArray[(i-1)]["doc_url"] ){		
				                        json_data.documentsArray[(i-1)]["doc_status"]   =   document.getElementById("doc_status_"+i+"" ).innerHTML;
				                        json_data.documentsArray[(i-1)]["remarks"]      =   "remarks:Document attached";
				                    } else {
				                        json_data.documentsArray[(i-1)]["doc_status"]   =   "Document not attached";
				                        json_data.documentsArray[(i-1)]["remarks"]      =   "remarks:Document not attached";
				                        json_data.documentsArray[(i-1)]["doc_url"]      =   "Document not attached";		                                
				                        json_data.documentsArray[(i-1)]["doc_name"]     =   "Document not attached";		                                
				                        json_data.documentsArray[(i-1)]["doc_type"]     =   "NoDoc.Noo";		                                		                                		                                
				                    }
		         	                }                            
	         	                }else{
	         	                
	         	                	if(document.getElementById("doc_name_"+(i)+"")){	
				 	                var doc_details = {};
							doc_details["doc_member_id"]		=	parseInt(member_id);
							doc_details["doc_loan_id"]		=	parseInt(loan_id);
							doc_details["doc_name"]			=	document.getElementById("doc_name_"+(i)+"").value;
							doc_details["doc_url"]			=	document.getElementById("doc_name_"+(i)+"").value;
							doc_details["doc_fk_last_modified_by"]	=  	"{{user}}";
							doc_details["doc_last_modified_date"]	= 	today;
							doc_details["doc_fk_sci_client_id"]	= 	 1;
			
							if(jQuery('#doc_name_'+i+"")){
							    if(jQuery('#doc_name_'+i+"")[0]){	
								jQuery.each(jQuery('#doc_'+(i)+"")[0].files, function(j, file) {
									doc_data.append('file-'+(i+12), file);
									doc_details["doc_type"]	  =  file.type;
									doc_details["doc_name"]   =  doc_details["doc_name"].replace(/^.*[\\\/]/, '');
								});
							    }
							}
			
							if(doc_details["doc_name"]  &&  doc_details["doc_url"]){
								if(doc_details["doc_name"]   &&  doc_details["doc_url"]){	
									doc_details["doc_status"] 	=   document.getElementById("doc_status_"+(i)+"").innerHTML;
									doc_details["remarks"]	 	=   "remarks:Document attached";
								}
								else{
									doc_details["doc_status"] 	=   "Document not attached";
									doc_details["remarks"]	  	=   "remarks:Document not attached";
								}
			
							}	
							json_data.documentsArray.push(doc_details);
						}else{
							console.log("dddd");
						}
	         	                }
	                            });
	                        }
	                    }
	                }
	            }
	            processupdate = {"variables": { "Upload_Doc_Status" : { "value" : "ReworkCompleted" } } };
	            ProcessType   = "ReUpload";
	            arr 	  =  json_data;                     
	        }
	    }
        }else{
		documentsArray=[];
		for( var i = 1; i <= doc_url_count; i++ ){
			var doc_details = {};
			doc_details["doc_member_id"]		=	parseInt(member_id);
			doc_details["doc_loan_id"]		=	parseInt(loan_id);
			doc_details["doc_name"]			=	document.getElementById("doc_name_"+i+"").value;
			doc_details["doc_url"]			=	document.getElementById("doc_name_"+i+"").value;
			doc_details["doc_fk_last_modified_by"]	=  	"{{user}}";
			doc_details["doc_last_modified_date"]	= 	today;
			doc_details["doc_fk_sci_client_id"]	  	= 	 1;
			
			if(jQuery('#doc_'+i+"")){
			    if(jQuery('#doc_'+i+"")[0]){			
				jQuery.each(jQuery('#doc_'+i+"")[0].files, function(j, file) {
					doc_data.append('file-'+(i+12), file);
					var fileNameSplit 	  =  doc_details["doc_name"].split('.');
					var lengthOfNameArr 	  = (fileNameSplit.length-1);
						
					doc_details["doc_type"]	  =  fileNameSplit[lengthOfNameArr];
					doc_details["doc_name"]   =  doc_details["doc_name"].replace(/^.*[\\\/]/, '');
				});
			    }
			}
			
			if(doc_details["doc_name"]  &&  doc_details["doc_url"]){
				if(doc_details["doc_name"]   &&  doc_details["doc_url"]){	
					doc_details["doc_status"] 	=   document.getElementById("doc_status_"+i+"").innerHTML;
					doc_details["remarks"]	 	=   "remarks:Document attached";
				}
				else{
					doc_details["doc_status"] 	=   "Document not attached";
					doc_details["remarks"]	  	=   "remarks:Document not attached";
				}
			
			}	
			documentsArray.push(doc_details);
		}
		arr  =  {  "documentsArray"	: documentsArray  };
	}
		
		
	console.log(arr);
		
	doc_data.append('form_data' , JSON.stringify(arr) );
	var obj =  {
                "task_id"       : task_id   ,	
                "process_id"    : processid ,
                "processupdate" : processupdate 
	        };
	doc_data.append('process_data' , JSON.stringify(obj) );
	doc_data.append('ProcessType'  , ProcessType  );	
	
	
	var opts = {
	    url: '/uploadDocument',
	    data: doc_data,
	    cache: false,
	    contentType: false,
	    processData: false,
	    dataType: 'json',
	    type: 'POST',
	    success: function (data){	
			console.log(data);
			window.location='/tasks/';
	    },
	    error: function(error) {
			console.log(error)
	    }
	
	};
        if(doc_data.fake) {
	       // Make sure no text encoding stuff is done by xhr
		opts.xhr = function() { var xhr = jQuery.ajaxSettings.xhr(); xhr.send = xhr.sendAsBinary; return xhr; }
		    opts.contentType = "multipart/form-data; boundary="+doc_data.boundary;
		opts.data = doc_data;
	}
	jQuery.ajax(opts);
}


</script>
<!--script type="text/javascript"> 

    var data 	    = '{{ memberDetails	| safe	   }}';
    var member_id   = "{{ memberId	| escapejs }}";
    var loan_id	    = "{{ loanId 	| escapejs }}";	
    var user_id	    = "{{ user 		| escapejs }}";
    var task_id	    = "{{ taskId 	| escapejs }}";
    var processid   = "{{processId	| safe	   }}";

    var json_data   =  JSON.parse(data);

    if(document.getElementById("loan_id")){
    	document.getElementById("loan_id").innerHTML = 'Loan ID : <span id="loan_Id">'+loan_id+'</span>, Member Id : <span id="member_Id">'+member_id+'</span> '
    }
    
    	/*For Comments*/
	var html='<label class="comment-user" >No Comments</label>';
	if(json_data.mlcompositeArray){
		var objData = json_data.mlcompositeArray[0];
		if(objData['mlValidationArray'].length>0){
	    	    html=''; 		
		    for(var i=0;i<objData['mlValidationArray'].length; i++){
		    	var usernme = objData['mlValidationArray'][i]['validation_fk_last_modified_by'];
		    	var remarks = objData['mlValidationArray'][i]['remarks'];	
		    	var validation_last_modified_date = objData['mlValidationArray'][i]['validation_last_modified_date'];	

			html +='<div id="comment-pane" class="comment-pane">'
				    +'<div class="comments-list-pane">'
					+'<label class="comment-user" ><i class="entypo-user"></i>'+usernme+'</label> <font class="comment-date"> '+validation_last_modified_date+' </font>'
					+'<div class="comment-comment">'+remarks+'</div>'
				    +'</div>'
				+'</div>';	    
		    }	
		}
	}
	document.getElementById('comment-list-pane').innerHTML = html;    


/*For Tab Pane*/
$(document).ready(function() {

    $('.comment-toggle').on('click', function () {
	$('#right-pane-task-detail').toggleClass('detail-max detail-min');
	$('#right-pane-task-comment-list').toggleClass('comment-min comment-max');
    });

    $(".tabs-menu a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current");
        $(this).parent().siblings().removeClass("current");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });
});


    if(json_data.documentsArray){
	if(json_data.documentsArray[0]){
	        
             $('#upload_button').css("display","none");    
             $('#reupload_button').css("display","block");
	    for(var i=0;i<10;i++){	
	        var obj=json_data.documentsArray[i];
		for(key in obj){	
		                
		    if(key == "doc_name")
			if(document.getElementById(key+"_"+(i+1)+""))
			    document.getElementById("doc_url_"+(i+1)+"").value   =   obj[key];
							
			if(key == "doc_url")
			    if(document.getElementById('doc_'+(i+1)+'_pop'))
    			        $('#doc_'+(i+1)+'_pop').attr("src",	obj[key]);
		}	
	    }		
	}
    }
    imagePopUp();

    var today   = new Date();
    var dd      = today.getDate();
    var mm      = today.getMonth()+1; //January is 0!
    var yyyy    = today.getFullYear();

    if(dd<10) { dd  =  '0'+dd;  } 
    if(mm<10) { mm  =  '0'+mm;  } 
    today   =   yyyy + '-' + dd + '-' + mm;

    /*Set Url for All Images*/       
    function setURL(id){
	var i  =  id.slice(-1);
	$("#"+id).change(function(){
	    if(i  ==  0){
		document.getElementById("doc_url_10").value = this.value;
    		readURL(this, "doc_10_pop");
	    }
	    document.getElementById("doc_url_"+i+"").value = this.value;
    	    readURL(this, "doc_"+i+"_pop");
	});
	imagePopUp();
    }
    
    	
    var processupdate = {"variables": { "Upload_Doc_Status" : { "value" : "New" } } };
    	
    /*Upload Data or Documents for Upload and reupload of Documents Tasks*/ 	
    function onUpload(){
	var documentsArray=[];
	var arr  =  {  "documentsArray"	: documentsArray  };
	var doc_data = new FormData();
	
	var ProcessType = "Upload";
	
	if(json_data.documentsArray){
	    if(json_data.documentsArray[0]){
	        if(json_data.documentsArray.length > 0){
	        
	            for( var i = 0; i < 10; i++ ){
	                if(jQuery('#doc_name_'+i+"")){
	                    if(jQuery('#doc_name_'+i+"")[0]){
	                        if(jQuery('#doc_name_'+i+"")[0].files){
	                            jQuery.each(jQuery('#doc_name_'+i+"")[0].files, function(j, file) { 
	                                json_data.documentsArray[i]["doc_fk_last_modified_by"] 	= user_id;
	                                json_data.documentsArray[i]["doc_last_modified_date"] 	= today;
                                        json_data.documentsArray[i]["doc_name"]  = document.getElementById("doc_name_"+i+"").value;
	                                json_data.documentsArray[i]["doc_url"]   = document.getElementById("doc_url_"+i+"").value;
                                        doc_data.append('file-'+(i+13), file);
	                                if( json_data.documentsArray[i]["doc_name"]  &&  json_data.documentsArray[i]["doc_url"] ){
	                                    doc_name_len		            = json_data.documentsArray[i]["doc_name"].length;
		                            json_data.documentsArray[i]["doc_type"] = json_data.documentsArray[i]["doc_name"].substring(doc_name_len-4,doc_name_len);
				
	                                    if( json_data.documentsArray[i]["doc_name"]  && json_data.documentsArray[i]["doc_url"] ){		
		                                json_data.documentsArray[i]["doc_status"]   =   "Document attached";
		                                json_data.documentsArray[i]["remarks"]      =   "remarks:Document attached";
		                            } else {
		                                json_data.documentsArray[i]["doc_status"]   =   "Document not attached";
		                                json_data.documentsArray[i]["remarks"]      =   "remarks:Document not attached";
		                                json_data.documentsArray[i]["doc_url"]      =   "Document not attached";		                                
		                                json_data.documentsArray[i]["doc_name"]     =   "Document not attached";		                                
		                                json_data.documentsArray[i]["doc_type"]     =   "NoDoc.Noo";		                                		                                		                                
		                                
		                            }
                 	                }                            
	                            });
	                        }
	                    }
	                }
	            }
	            processupdate = {"variables": { "Upload_Doc_Status" : { "value" : "ReworkCompleted" } } };
	            ProcessType   = "ReUpload";
	            arr 	  =  json_data;                     
	        }
	    }
        }else{
	
	    for( var i = 1; i <= 10; i++ ){
	            
                var doc_details = {};
                doc_details["doc_member_id"]	= parseInt(document.getElementById("member_Id").innerHTML);
                doc_details["doc_loan_id"]	= parseInt(document.getElementById("loan_Id").innerHTML);
                doc_details["doc_name"]		= document.getElementById("doc_name_"+i+"").value;
                doc_details["doc_url"]		= document.getElementById("doc_url_"+i+"").value;
		
		/*For Document Name and URL*/
                if( doc_details["doc_name"]  &&  doc_details["doc_url"] ){
                    doc_name_len		        = doc_details["doc_name"].length;
	            doc_details["doc_type"]	        = doc_details["doc_name"].substring(doc_name_len-4,doc_name_len);
         	} else {
                    doc_details["doc_name"]		=   "Document not attached";
                    doc_details["doc_url"]		=   "Document not attached";                 	
                    doc_details["doc_type"]    		=   "NoDoc.Noo";
         	}		
         	
         	/*For Status and Remarks */
                if( doc_details["doc_name"]  && doc_details["doc_url"] ){		
                    doc_details["doc_status"] 	        =   "Document attached";
                    doc_details["remarks"]	        =   "Document attached";
                } else {
                    doc_details["doc_status"] 	        =   "Document not attached";
                    doc_details["remarks"]	        =   "Document not attached";
                    doc_details["doc_type"]     	=   "NoDoc.Noo";
                }          
                       	
                doc_details["doc_fk_last_modified_by"] 	= user_id;
                doc_details["doc_last_modified_date"] 	= today;
                doc_details["doc_fk_sci_client_id"]	= 1;
                documentsArray.push(doc_details);
	
	        /*If File Exists*/
	        if(jQuery('#doc_name_'+i+"")){
                    if(jQuery('#doc_name_'+i+"")[0]){
                        if(jQuery('#doc_name_'+i+"")[0].files){
                            jQuery.each(jQuery('#doc_name_'+i+"")[0].files, function(j, file) {
	                        console.log(file);
	                        if(file){
        	                    doc_data.append('file-'+(i+12), file);
   	         	        }
                            });
                        }
                    }
                }
	    }
	    
	    arr  =  {  "documentsArray"	: documentsArray  };
        }
		
	doc_data.append('form_data' , JSON.stringify(arr) );
	var obj =  {
                "task_id"       : task_id   ,	
                "process_id"    : processid ,
                "processupdate" : processupdate 
	        };
	doc_data.append('process_data' , JSON.stringify(obj) );
	doc_data.append('ProcessType'  , ProcessType  );	
		
	var opts = {
                url         : '/uploadDocument',
                data        : doc_data,
                cache       : false,
                contentType : false,
                processData : false,
                dataType    : 'json',
                type        : 'POST',
                success     : function (data) 
                {	
                    console.log(data);
                    window.location='/tasks/';
                },
                error       : function(error) 
                {
		    console.log(error)
                }
	};
	
     	if(doc_data.fake) {
    	// Make sure no text encoding stuff is done by xhr
    		opts.xhr = function() { var xhr = jQuery.ajaxSettings.xhr(); xhr.send = xhr.sendAsBinary; return xhr; }
   		opts.contentType = "multipart/form-data; boundary="+doc_data.boundary;
    		opts.data = doc_data;
	}
	
	jQuery.ajax(opts);
   }


</script--->

</html>
