<!DOCTYPE html>
<html>
<head>

<link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"  />
<link type="text/css" href="/static/css/jquery.selectBoxIt.css" rel="stylesheet" />
<link type="text/css" href="/static/css/task.css" rel="stylesheet" />
<!-- Madura css -->
<link rel="stylesheet" href="/static/css/font-icons/entypo/css/entypo.css"  id="style-resource-2">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"  id="style-resource-3">
<link rel="stylesheet" href="/static/css/neon-core-min.css"  id="style-resource-5">
<link rel="stylesheet" href="/static/css/neon-theme-min.css"  id="style-resource-6">
<link rel="stylesheet" href="/static/css/neon-form-min.css"  id="style-resource-7">
<link rel="stylesheet" href="/static/css/jalert.css">
<link rel="stylesheet" href="/static/css/form.css">
<link rel="stylesheet" href="/static/css/custom2.css">				<!-- custom css for loan officer process -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Scripts -->
<script type="text/javascript" src="/static/js/1.9.1-jquery.min.js"></script>	<!-- Main Library js-->
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>	<!-- Main Library js-->
<script type="text/javascript" src="/static/js/bootstrap.js"></script>		<!-- Bootstrap js-->
<script type="text/javascript" src="/static/js/jquery.selectBoxIt.js"></script>
<script type="text/javascript" src="/static/js/crossfilter.js"></script> 

<!--MASTER DATA -->
<script type="text/javascript" src="/static/form/masterData.js"></script> 
<script type="text/javascript" src="/static/form/masterDataLoad.js"></script> 
</head>
<body>
	<!-- Top Bar -->
	<div class="navbar navbar-fixed-top">
		{% include "header1.html" %} 
	</div>
	{% csrf_token %}
	<!-- Main Content -->
    	<div class="main">	
	    	<div class="task-div">	
				<div class="main-task">
				    <div  class="right-pane-task" id="right-pane-task">	
					    <div id="tabs">
						    <ul id="form-tab">
						        <!--li style="float:right;list-style-type:none;">
							    	<span class="comment-toggle" style="float:right;display:inline-block;padding-bottom:10px;s"><i class="entypo-chat"></i> Comments</span>
								</li-->
								<li style="float:right;list-style-type:none;">
									<span class="document-toggle" style="float:right;display:inline-block;padding-bottom:10px;cursor:pointer;"><i class="entypo-attach"></i>Documents</span>
								</li>
								<li style="float:right;">
									<span class="comment-toggle" style="float:right;display:inline-block;padding-bottom:0px;cursor:pointer;"><i class="entypo-chat"></i> Comments</span>
								</li>
							</ul>
						</div>
						<div id="commentsModal" class="modal">
							<div class="modal-content">
							  	<span class="close">x</span>
								<p>	<strong><i class="entypo-chat">COMMENTS	</i></strong></p>
								<div class="modal-body" id="commentsTab">
								</div>
							</div>
						</div>
						<div id="documentsModal" class="modal">
							<div class="modal-content">
							  	<span class="close">x</span>
								<p>	<strong><i class="entypo-attach">DOCUMENTS ATTACHED</i></strong></p>
								<div class="modal-body" id="documentsTab" >
								</div>
							</div>
						</div>
						  <div class="right-pane-task-detail detail-max" id="right-pane-task-detail" style="background-color: rgba(218, 216, 216, 0.2);">
				 		      <div class="center-pane" id="center-pane"> 
						   		  <!--Div HEader-->
								  <div class="h3-heading" >
									  <h3 >Upload Documents</h3>
									  <h4 id="loan_id">	Loan ID : <span id="doc_loan_id">	198	</span> ,   Member Id : <span id="doc_member_id">	421	</span>	 </h4>				
								  </div>
								  <div>					
								  <!--INput Values-->
									  <div class="member_class">
										  <div class="colomn-div">
											  <input type="text"  readonly="true" id="doc_status_1" name="doc_status_1" value="LOS" class="title-text"></input>  
											  <font>:</font>
											  <input type="text" readonly="" id="doc_name_1" name="doc_name_1"></input>
											  <input type="file" style="width: 15%;" id="doc_1" name="doc_1" onclick="setURL(this.id);"></input>
											  <img id="doc_url_1_img_pop" class="file_img" src="" style="display: none; "/>
											  <a id="doc_url_1_anchor" class="file_img" href="htpp://aaaaaa"> 
												  <i class="fa fa-file-text" aria-hidden="true" ></i>
											  </a>
										  </div>
									  </div>
								  </div>
								  <div>					
									  <div class="member_class">
									      <div class="colomn-div">
											  <input type="text"  readonly="true" id="doc_status_2" name="doc_status_2" value="Loan Agreement" class="title-text"></input>						    
											  <font>:</font>
											  <input type="text" readonly="" id="doc_name_2" name="doc_name_2"></input>
											  <input type="file" style="width: 15%;" id="doc_2" name="doc_2" onclick="setURL(this.id);"></input>
											  <img id="doc_url_2_img_pop" class="file_img" src="" style="display: none; "/>
											  <a id="doc_url_2_anchor" class="file_img" href="htpp://aaaaaa" > 
												  <i class="fa fa-file-text" aria-hidden="true" ></i>
											  </a>
										  </div>
									  </div>
								 </div>
								 <div>					
									 <div class="member_class">
									     <div class="colomn-div">
											 <input type="text"  readonly="true" id="doc_status_3" name="doc_status_3" value="Promissory Note" class="title-text"></input>						    						    
											 <font>:</font>
											 <input type="text" readonly="" id="doc_name_3" name="doc_name_3"></input>
											 <input type="file" style="width: 15%;" id="doc_3" name="doc_3" onclick="setURL(this.id);"></input>
											 <img id="doc_url_3_img_pop" class="file_img" src="" style="display: none; ">
										 	 <a id="doc_url_3_anchor" class="file_img" href="htpp://aaaaaa" > 
												 <i class="fa fa-file-text" aria-hidden="true" ></i>
											 </a>
										 </div>
									 </div>
								 </div>
							     <div>					
									 <div class="member_class">
									  	 <div class="colomn-div">
											 <input type="text"  readonly="true" id="doc_status_4" name="doc_status_4" value="NACH Form" class="title-text"></input>						    						    
											 <font>:</font>
											 <input type="text" readonly="" id="doc_name_4" name="doc_name_4"></input>
											 <input type="file" style="width: 15%;" id="doc_4" name="doc_4" onclick="setURL(this.id);"></input>
											 <img id="doc_url_4_img_pop" class="file_img" src="" style="display: none; "/>
											 <a id="doc_url_4_anchor" class="file_img" href="htpp://aaaaaa" > 
												 <i class="fa fa-file-text" aria-hidden="true" ></i>
											 </a>
										 </div>
									 </div>
								 </div>
								 <div>					
									 <div class="member_class">
										<div class="colomn-div">
											<input type="text"  readonly="true" id="doc_status_5" name="doc_status_5" value="PDC" class="title-text"></input>						    						    
											<font>:</font>
											<input type="text" readonly="" id="doc_name_5" name="doc_name_5"></input>
											<input type="file" style="width: 15%;" id="doc_5" name="doc_5" onclick="setURL(this.id);"></input>
											<img id="doc_url_5_img_pop" class="file_img" src="" style="display: none; "/>
											<a id="doc_url_5_anchor" class="file_img" href="htpp://aaaaaa" > 
												<i class="fa fa-file-text" aria-hidden="true" ></i>
											</a>
										 </div>
									</div>
								</div>
								<div class="member_class" id="add-more-btn">
									<div class="form-button text-right" style="margin-right:5%;"><a href="javascript:void(0)" id="add-btn-id" class="btn btn-red btn-icon icon-left" style="height:30px;padding-left:40px;"><i class="entypo-plus" style="width:30px;height: 28px;color: white;padding:6px;">	</i>Add more</a></div><br>
								</div>
							</div>
							<div class="form-group text-center">
								<div class="form-button" id="upload_button">
									<a href="javascript:void(0)"	onclick=''	class="btn btn-red btn-icon icon-left"		 style="height:30px;padding-left:40px;">
								  	        <i 	class="icon-entypo-cancel"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>
								   	        Cancel
									</a>
									<a href="javascript:void(0)"	onclick="onUpload();" 	class="btn btn-red btn-icon icon-left" 		style="height:30px;padding-left:40px;">
								  	        <i 	class="entypo-upload" 	style="width:30px;height: 28px;color: white;padding:6px;">	</i>
											Upload
									</a>
								</div>
								<div class="form-button" id="reupload_button" style="display:none;">
									<textarea style="width:45%;height:20%;background-color:white;font-size: 11px;" id="comments"    placeholder="Comments"></textarea><font class="mandatory">*</font>
									<div style="padding-top:1%;">
										<a href="javascript:void(0)"	onclick=''	class="btn btn-red btn-icon icon-left"		 style="height:30px;padding-left:40px;">
									  	        <i class="icon-entypo-cancel"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>
									   	        Cancel
										</a>
										<a href="javascript:void(0)"	onclick="onUpload('Rework Completed');" 	class="btn btn-red btn-icon icon-left" 		style="height:30px;padding-left:40px;">
									  	        <i class="entypo-check" 	style="width:30px;height: 28px;color: white;padding:6px;">	</i>
												Rework Completed
										</a>
									</div>
								</div>
								<br><br><br>
							</div>
						</div>
						<div class="right-pane-task-document-list comment-min" id="right-pane-task-document-list" style="width:initial;border: 1px solid #981b1b;overflow-Y:scroll;background-color: #f4f4f4;">	
							<div class="head" style="background-color: #981B1B;color: whitesmoke;border-bottom: 1px solid whitesmoke;" data-toggle="collapse" data-target="#comment-list-pane">
								<div class="sub-header" >
								  	<div colspan="4"><font style="font-size:15px;"> Documents Attached <i class="entypo-attach"></i></font></div>
								</div>
							</div>
							<div  class="document-list-pane" id="document-list-pane" style="background-color:#f4f4f4;"></div>
						</div>
						<div class="right-pane-task-comment-list comment-min" id="right-pane-task-comment-list" style="width:initial;overflow-Y:scroll;">	
							<div class="head" style="background-color: #981B1B;color: whitesmoke;border-bottom:1px solid whitesmoke;"  data-target="#comment-list-pane">
								<div class="sub-header" >
									<div colspan="4"><font style="font-size:15px;"> Comments <i class="entypo-chat"></i></font></div>
								</div>
							</div>
							<div id="comment-list-pane" class="comment-list-pane" ></div>
						</div>
						<!--Submit Button DIv-->
						<div class="popup">	</div>
		  			</div>
				</div>
		    </div>
		</div>
	{% include "footer.html" %} 
</body>
<script type="text/javascript" src="/static/form/masterDataLoad.js"></script> 
<script type="text/javascript"> 
	var data 	    = '{{ memberDetails	| safe	   }}';
    var member_id   = "{{ memberId	| escapejs }}";
    var loan_id	    = "{{ loanId 	| escapejs }}";	
    var user_id	    = "{{ user 		| escapejs }}";
    var task_id	    = "{{ taskId 	| escapejs }}";
    var processid   = "{{processId	| safe	   }}";
    var alf_token   = "{{ alf_token	| escapejs }}";   

    var json_data   =  JSON.parse(data);

    if(document.getElementById("loan_id")){
    	document.getElementById("loan_id").innerHTML = 'Loan ID : <span id="loan_Id">'+loan_id+'</span>, Member Id : <span id="member_Id">'+member_id+'</span> '
    }
    
    /*For Comments*/
    var html='<label class="comment-user" >No Comments</label>';
    if(json_data.mlcompositeArray){
    	var objData = json_data.mlcompositeArray[0];
		if(objData['mlValidationArray'].length>0){
			html=''; 		
			
			for(var i=0;i<objData['mlValidationArray'].length; i++){
				var usernme = objData['mlValidationArray'][i]['validation_fk_last_modified_by'];
				var remarks = objData['mlValidationArray'][i]['remarks'];	
				var validation_last_modified_date = objData['mlValidationArray'][i]['validation_last_modified_date'];	

				html +='<div id="comment-pane" class="comment-pane">'
						+'<div class="comments-list-pane">'
						+'<label class="comment-user" ><i class="entypo-user"></i>'+usernme+'</label> <font class="comment-date"> '+validation_last_modified_date+' </font>'
						+'<div class="comment-comment">'+remarks+'</div>'
						+'</div>'
						+'</div>';
			}	
		}
    }
    document.getElementById('comment-list-pane').innerHTML = html; 

	var doc_array = {};
    var imgFiles = {
        'member_bank_fk_alf_node_ref': "Bank Pass Book Image 1",
        'member_bank_fk_alf_node_ref1': "Bank Pass Book Image 2",
        'biz_address_fk_alf_node_ref': "Shop Image 1",
        'biz_address_fk_alf_node_ref1': "Shop Image 2",
        'biz_id_alf_node_ref': "Business Identity Doc 1",
        'biz_id_alf_node_ref1': "Business Identity Doc 2",
        'current_address_fk_alf_node_ref': "Address Proof 2",
        'current_document_url': "Address Proof 1"
    };
    var idProofArray = [];

    var html = '<label class=doc-user" >No documents</label>';

    if (json_data.documentsArray || json_data.mlcompositeArray) {
        console.log(alf_token);
        html = '';
        if (json_data.documentsArray) {
            if (json_data.documentsArray[0]) {
                for (var i = 0; i < json_data.documentsArray.length; i++) {
                    var document_Name = json_data.documentsArray[i].doc_status;
                    var document_url = json_data.documentsArray[i].doc_url;
                    html += '<div id="document-pane" class="document-pane">' + '<div class="document-list-pane">' + '<label class="entypo-check" style="color:black;width:60%;padding-left:10%;font-weight:normal;">' + " " + document_Name + '</label>' + '<a href="' + document_url + '?alf_ticket=' + alf_token + '" class="file_img"> <i class="fa fa-file" aria-hidden="true" style="float:right;color:#981b1b;font-size:20px;"></i></a>' + '</div>' + '</div>';
                }
            }
        }

        if (json_data.mlcompositeArray) {
            if (json_data.mlcompositeArray[0]) {
                var objData = json_data.mlcompositeArray[0];
                var keys = Object.keys(json_data.mlcompositeArray[0]);
                var imgFiles_keys = Object.keys(imgFiles);
                for (var i = 0; i < keys.length; i++) {
                    for (var j = 0; j < imgFiles_keys.length; j++) {
                        if (keys[i] == imgFiles_keys[j])
                            doc_array[imgFiles[imgFiles_keys[j]]] = json_data.mlcompositeArray[0][keys[i]];
                    }
                    if (keys[i] == "idProofArray")
                        for (var k = 0; k < json_data.mlcompositeArray[0]["idProofArray"].length; k++) {
                            if (json_data.mlcompositeArray[0]["idProofArray"][k]) {
                                var id_obj = {};
                                id_obj[masterIdProofArrayDic[json_data.mlcompositeArray[0]["idProofArray"][k]['fk_id_proof_type_id']] + ' ( I ) ' + ""] = json_data.mlcompositeArray[0]["idProofArray"][k]['alf_node_ref'];;
                                id_obj[masterIdProofArrayDic[json_data.mlcompositeArray[0]["idProofArray"][k]['fk_id_proof_type_id']] + ' ( II ) ' + ""] = json_data.mlcompositeArray[0]["idProofArray"][k]['alf_node_ref1'];;
                                idProofArray.push(id_obj);
                                doc_array["idProofArray"] = idProofArray;
                            }
                        }
                }
            }
            for (var key in doc_array) {
                if (key != 'idProofArray')
                    html += '<div id="document-pane" class="document-pane">' + '<div class="document-list-pane">' + '<label class="entypo-check" style="color:black;width:60%;padding-left:10%;font-weight:normal;">' + " " + key + '</label>' + '<a href="' + doc_array[key] + '?alf_ticket=' + alf_token + '" class="file_img" target="_blank" style="display:inline-block;"><i class="fa fa-file" aria-hidden="true" style="color:#981b1b;font-size:20px;float:right;"></i></a>' + '</div>' + '</div>';
            }
            if (doc_array['idProofArray']) {
                for (var i = 0; i < doc_array['idProofArray'].length; i++) {
                    var id_Arr = doc_array['idProofArray'][i];
                    for (var key in id_Arr)
                        html += '<div id="document-pane" class="document-pane">' + '<div class="document-list-pane">' + '<label class="entypo-check" style="color:black;width:60%;padding-left:10%;font-weight:normal;">' + " " + capitalise(key) + '</label>' + '<a href="' + id_Arr[key] + '?alf_ticket=' + alf_token + '" class="file_img" target="_blank" style="display:inline-block;"><i class="fa fa-file" aria-hidden="true" style="color:#981b1b;font-size:20px;float:right;"></i></a>' + '</div>' + '</div>';
                }
            }
        }
    }
    document.getElementById('document-list-pane').innerHTML = html;

    function capitalise(string) {
        return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
    }

	
	$(document).ready(function() {
		if($(window).width() >= 601){
			/*$('.comment-toggle').on('click', function () {
		   		 $('#right-pane-task-detail').toggleClass('detail-max detail-min');
				 $('#right-pane-task-comment-list').toggleClass('comment-min comment-max');
			});*/
			$('.comment-toggle').on('click', function () {
				//$('#right-pane-task-detail').toggleClass('detail-max detail-min');
				//$('#right-pane-task-comment-list').toggleClass('comment-min comment-max');
		
				var tastDetails = document.getElementById("right-pane-task-detail").className;
				var docDetails = document.getElementById("right-pane-task-document-list").className;
				var commDetails = document.getElementById("right-pane-task-comment-list").className;

				if(tastDetails == "right-pane-task-detail detail-max" 
					&& docDetails == "right-pane-task-document-list comment-min" 
					&& commDetails == "right-pane-task-comment-list comment-min"){
					document.getElementById("right-pane-task-detail").className = "right-pane-task-detail detail-min";
					document.getElementById("right-pane-task-comment-list").className = "right-pane-task-comment-list comment-max";
					document.getElementById("right-pane-task-document-list").className = "right-pane-task-document-list comment-min";
				}else if(tastDetails == "right-pane-task-detail detail-min" 
					&& docDetails == "right-pane-task-document-list comment-min" 
					&& commDetails == "right-pane-task-comment-list comment-max"){
					document.getElementById("right-pane-task-detail").className = "right-pane-task-detail detail-max";
					document.getElementById("right-pane-task-comment-list").className = "right-pane-task-comment-list comment-min";
					document.getElementById("right-pane-task-document-list").className = "right-pane-task-document-list comment-min";			
				}else{
					document.getElementById("right-pane-task-detail").className = "right-pane-task-detail detail-min";
					document.getElementById("right-pane-task-comment-list").className = "right-pane-task-comment-list comment-max";
					document.getElementById("right-pane-task-document-list").className = "right-pane-task-document-list comment-min";			
				}
			});
			$('.document-toggle').on('click', function () {
		   		 //$('#right-pane-task-detail').toggleClass('detail-max detail-min');
				 //$('#right-pane-task-document-list').toggleClass('comment-min comment-max');

				 var tastDetails = document.getElementById("right-pane-task-detail").className;
				 var docDetails = document.getElementById("right-pane-task-document-list").className;
	 			 var commDetails = document.getElementById("right-pane-task-comment-list").className;
				 if(tastDetails == "right-pane-task-detail detail-max"
					&& docDetails == "right-pane-task-document-list comment-min"
					&& commDetails == "right-pane-task-comment-list comment-min"){
					document.getElementById("right-pane-task-detail").className = "right-pane-task-detail detail-min";
					document.getElementById("right-pane-task-document-list").className = "right-pane-task-document-list comment-max";				
					document.getElementById("right-pane-task-comment-list").className = "right-pane-task-comment-list comment-min";
			
				 }else if(tastDetails == "right-pane-task-detail detail-min"
					&& docDetails == "right-pane-task-document-list comment-max"
					&& commDetails == "right-pane-task-comment-list comment-min"){
					document.getElementById("right-pane-task-detail").className = "right-pane-task-detail detail-max";
					document.getElementById("right-pane-task-comment-list").className = "right-pane-task-comment-list comment-min";
					document.getElementById("right-pane-task-document-list").className = "right-pane-task-document-list comment-min";			
				}else{
					document.getElementById("right-pane-task-detail").className = "right-pane-task-detail detail-min";
					document.getElementById("right-pane-task-comment-list").className = "right-pane-task-comment-list comment-min";
					document.getElementById("right-pane-task-document-list").className = "right-pane-task-document-list comment-max";
				}
			});
		}
		 if ($(window).width() <= 600) {
            $('.comment-toggle').on('click', function() {
                $('#commentsModal').css('display', 'block');
            });
            $('.close').on('click', function() {
                $('#commentsModal').css('display', 'none');
            });

            commentsPopUp(json_data);

            $('.document-toggle').on('click', function() {
                $('#documentsModal').css('display', 'block');
            });
            $('.close').on('click', function() {
                $('#documentsModal').css('display', 'none');
            });
            window.onclick = function(event) {
                if (event.target == document.getElementById('documentsModal')) {
                    $('#documentsModal').css('display', 'none');
                }
                if (event.target == document.getElementById('commentsModal')) {
                    $('#commentsModal').css('display', 'none');
                }
            }
            documentsPopUp(json_data);

        }    	
		
		/*Data load*/
		var imageArr = ["jpeg", "jpg", "exif", "tiff", "gif", "bmp", "png", "image/jpeg"]	;
     	var cbl_flag = 1;
		if(json_data.documentsArray){
			if(json_data.documentsArray.length>1){
			if(json_data.documentsArray[0]){
				$('#upload_button').css("display","none");    
				$('#reupload_button').css("display","block");
	
				var cbl_minus = 0;
				if(json_data.documentsArray[0].doc_status =="CIBIL DOC") {
					cbl_flag = 0;
					cbl_minus = 1;
				}
				if(json_data.documentsArray.length > 5 && (cbl_flag == 1)){	
					var child  =document.getElementById("add-more-btn");	
					child.remove();
				}else if(json_data.documentsArray.length > 6 && (cbl_flag == 0))	{
					var child  =document.getElementById("add-more-btn");	
					child.remove();
				}			
				
				for(var i=0 ; i<(json_data.documentsArray.length + cbl_flag); i++)
				{	
					var objTo 	  =  document.getElementById('center-pane')
					var member_class  =  document.createElement("div");
					var obj  	  =  json_data.documentsArray[i];
					if(obj){					
						if(i>(4+cbl_minus)){
							if((json_data.documentsArray.length - (1+cbl_flag)) != i){
								member_class.innerHTML  =  '<div class="member_class"><div class="colomn-div">'+
											 '<input type="text"  readonly="true" id="doc_status_'+(i+cbl_flag)+'" name="doc_status_'+(i+cbl_flag)+'" class="title-text"></input>'+
											 '&nbsp;&nbsp;<font>:</font>'+
											 '<input  type="text" readonly id="doc_name_'+(i+cbl_flag)+'" 	name="doc_name_'+(i+cbl_flag)+'" ></input>'+
											 '<input  type="file" style="width: 15%;" 	 id="doc_'+(i+cbl_flag)+'"  name="doc_'+(i+cbl_flag)+'" onclick="setURL(this.id);" ></input>'+
							 				 '<img  id="doc_url_'+(i+cbl_flag)+'_img_pop"  class="file_img" 	src=""></img>'+
							 				 '<a    id="doc_url_'+(i+cbl_flag)+'_anchor" 	class="file_img" > <i class="fa fa-file-text" aria-hidden="true"></i></a>'+
							 				 '</div></div>';
							 }else{
								 member_class.innerHTML  =  '<div class="member_class"><div class="colomn-div">'+
											 '<input type="text"  readonly="true" id="doc_status_'+(i+cbl_flag)+'" name="doc_status_'+(i+cbl_flag)+'" class="title-text"></input>'+							 
											 '&nbsp;&nbsp;<font>:</font>'+
											 '<input  type="text" readonly id="doc_name_'+(i+cbl_flag)+'" 	name="doc_name_'+(i+cbl_flag)+'" ></input>'+
											 '<input  type="file" style="width: 15%;" 	 id="doc_'+(i+cbl_flag)+'"  name="doc_'+(i+cbl_flag)+'" onclick="setURL(this.id);" ></input>'+
							 				 '<img  id="doc_url_'+(i+cbl_flag)+'_img_pop"  class="file_img" 	src=""></img>'+
							 				 '<a    id="doc_url_'+(i+cbl_flag)+'_anchor" 	class="file_img" > <i class="fa fa-file-text" aria-hidden="true"></i></a>'+
							 				 '</div></div>'+
											 '<div class="member_class" id="add-more-btn">'+
												'<div class="form-button text-right" style="margin-right:5%;">'+
											 	    '<a href="javascript:void(0)"  id="add-btn-id" class="btn btn-red btn-icon icon-left"  style="height:30px;padding-left:40px;">'+
													'<i 	class="entypo-plus"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>Add more</a>'+
												'</div><br>'+
											  '</div>';			 				 			 
							 }/*
							 if((json_data.documentsArray.length - (1+cbl_minus)) != i){
								member_class.innerHTML  =  '<div class="member_class"><div class="colomn-div">'+
											 '<input type="text"  readonly="true" id="doc_status_'+(i+cbl_flag)+'" name="doc_status_'+(i+cbl_flag)+'" class="title-text"></input>'+
											 '&nbsp;&nbsp;<font>:</font>'+
											 '<input  type="text" readonly id="doc_name_'+(i+cbl_flag)+'" 	name="doc_name_'+(i+cbl_flag)+'" ></input>'+
											 '<input  type="file" style="width: 15%;" 	 id="doc_'+(i+cbl_flag)+'"  name="doc_'+(i+cbl_flag)+'" onclick="setURL(this.id);" ></input>'+
							 				 '<img  id="doc_url_'+(i+cbl_flag)+'_img_pop"  class="file_img" 	src=""></img>'+
							 				 '<a    id="doc_url_'+(i+cbl_flag)+'_anchor" 	class="file_img" > <i class="fa fa-file-text" aria-hidden="true"></i></a>'+
							 				 '</div></div>';
							 }else{
								 member_class.innerHTML  =  '<div class="member_class"><div class="colomn-div">'+
											 '<input type="text"  readonly="true" id="doc_status_'+(i+cbl_flag)+'" name="doc_status_'+(i+cbl_flag)+'" class="title-text"></input>'+							 
											 '&nbsp;&nbsp;<font>:</font>'+
											 '<input  type="text" readonly id="doc_name_'+(i+cbl_flag)+'" 	name="doc_name_'+(i+cbl_flag)+'" ></input>'+
											 '<input  type="file" style="width: 15%;" 	 id="doc_'+(i+cbl_flag)+'"  name="doc_'+(i+cbl_flag)+'" onclick="setURL(this.id);" ></input>'+
							 				 '<img  id="doc_url_'+(i+cbl_flag)+'_img_pop"  class="file_img" 	src=""></img>'+
							 				 '<a    id="doc_url_'+(i+cbl_flag)+'_anchor" 	class="file_img" > <i class="fa fa-file-text" aria-hidden="true"></i></a>'+
							 				 '</div></div>'+
											 '<div class="member_class" id="add-more-btn">'+
												'<div class="form-button text-right" style="margin-right:5%;">'+
											 	    '<a href="javascript:void(0)"  id="add-btn-id" class="btn btn-red btn-icon icon-left"  style="height:30px;padding-left:40px;">'+
													'<i 	class="entypo-plus"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>Add more</a>'+
												'</div><br>'+
											  '</div>';			 				 			 
							 }*/
							 objTo.appendChild(member_class);	
					 		}
					 		
					 		if(obj["doc_name"]){
					 			if(document.getElementById("doc_name_"+(i+cbl_flag)+"") ){
									document.getElementById("doc_name_"+(i+cbl_flag)+"").value=obj["doc_name"];
								}
							}
							if(obj["doc_url"]){
								if(document.getElementById("doc_url_"+(i+cbl_flag)+"_img_pop") ){					
									if(( $.inArray(obj['doc_type'], imageArr)) != -1){			    
									$('#doc_url_'+(i+cbl_flag)+'_img_pop').attr("src",	obj['doc_url']+'?alf_ticket='+alf_token);
										$('#doc_url_'+(i+cbl_flag)+'_img_pop' ).css("display","block"); 
										$('#doc_url_'+(i+cbl_flag)+'_anchor' ).css("display","none");     			              
									//}
									}else if(obj['doc_url'] != 'Document not attached' ){
									 	if(obj['doc_type'] == "pdf"){	
											 $('#doc_url_'+(i+cbl_flag)+'_anchor').html('<i class="fa fa-file-pdf-o" aria-hidden="true"></i>');
										}
										if(obj['doc_type'] == "xlsx"){	
											 $('#doc_url_'+(i+cbl_flag)+'_anchor').html('<i class="fa fa-file-excel-o" aria-hidden="true"></i>');
										}
										else{
													 $('#doc_url_'+(i+cbl_flag)+'_anchor').html('<i class="fa fa-file-text" aria-hidden="true"></i>');
												}	            	        
										$('#doc_url_'+(i+cbl_flag)+'_anchor').attr("href",	obj['doc_url']+'?alf_ticket='+alf_token);
										$('#doc_url_'+(i+cbl_flag)+'_anchor').css("color",	'#981b1b');
										$('.fa').css("font-size",	'25px');
										$('.fa').css("margin-left",	'-14px');
										$('#doc_url_'+(i+cbl_flag)+'_img_pop').css("display","none");	
									}else{
										        $('#doc_url_'+(i+cbl_flag)+'_img_pop').css("display","none"); 
										        $('#doc_url_'+(i+cbl_flag)+'_anchor').css("display","none");    			            		            
									 }           
						   		}
					   		} 
						   if(obj["doc_status"]  && document.getElementById("doc_status_"+(i+cbl_flag)+"")){
								document.getElementById("doc_status_"+(i+cbl_flag)+"").value=obj["doc_status"];
						   }
						   if(document.getElementById("doc_url_"+(i+cbl_flag)+"")){
								document.getElementById("doc_url_"+(i+cbl_flag)+"").innerHTML 	=	obj['doc_url'];
						   }
						   var obj= json_data.documentsArray[i];
				   		}
			  		}
				}
			}
	    	imagePopUp();
		}		
   	
	 	var screenHeight  = $(window).height();
		var screenwidth   = $(window).width();
		if(screenHeight){
			var height       =  screenHeight*(0.9);
			var slipHeight   =  height/3;
			$('body').height((height*(0.80)));
			$('.task-div').height((height*(0.80)));
			$('.main-task').height((height*(0.80)));
			$('#right-pane-task').height((height));
			$('#right-pane-task-detail').height((height*(0.85)));
			$('#right-pane-task-comment-list').height((height*(0.895)));
			$('#right-pane-task-document-list').height((height*(0.895)));			
			document.getElementById('right-pane-task-detail').style.overflowY  =  'auto';
		}
    });

    $(function() {
		$("#tabs").tabs();
    });

    /*For Extra Files to be Uploaded*/	
    var id_val=5;
    if(json_data.documentsArray){
    	id_val = (json_data.documentsArray.length) ;
    }
    
	/*On Every Click in Add More File Button*/
    $(document).on('click', '#add-btn-id', function(){
   	    var child  =document.getElementById("add-more-btn");	
	    child.remove();
	    id_val++;
	    var objTo = document.getElementById('center-pane')
	    var member_class = document.createElement("div");

	    member_class.innerHTML = '<div class="member_class"><div class="colomn-div">'
					 			+'<input  type="text " id="doc_status_'+id_val+'" 	name="doc_status_'+id_val+'" placeholder="File Name" style="width: 22%;text-align: left;padding-left: 5%;" ></input>&nbsp;'
								+'<font>:</font>&nbsp;<input  type="text " id="doc_name_'+id_val+'" 	name="doc_name_'+id_val+'" readonly ></input>'
					 			+'<input  type="file" style="width: 15%;" 	 id="doc_'+id_val+'"  name="doc_'+id_val+'" onclick="setURL(this.id);" ></input>'
	 				 			+'<img  id="doc_url_'+id_val+'_img_pop"  class="file_img" 	src=""></img>'
	 				 			+'<a    id="doc_url_'+id_val+'_anchor" 	class="file_img" > '
								+'<i class="fa fa-file-text" aria-hidden="true"></i></a>'
	 				 			+'</div></div>'
								+'<div class="member_class" id="add-more-btn">'
								+'<div class="form-button text-right" style="margin-right:5%;">'
					 	    	+'<a href="javascript:void(0)"  id="add-btn-id" class="btn btn-red btn-icon icon-left"  style="height:30px;padding-left:40px;">'
						   		+'<i 	class="entypo-plus"	 style="width:30px;height: 28px;color: white;padding:6px;">	</i>Add more</a>'
								+'</div><br></div>';
					  			             
	    objTo.appendChild(member_class);
	});

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

    if(dd<10) {  dd  =  '0'+dd;   } 

    if(mm<10) {  mm  =  '0'+mm;    } 
    today   =   yyyy + '-' + dd + '-' + mm;
    
    var imageArr = ["jpeg", "jpg", "exif", "tiff", "gif", "bmp", "png", "image/jpeg"];
    function setURL(id){
    	var id_split  = id.split('_');		
		var id_select = id_split[id_split.length-1];
    	$("#"+id).change(function(){
			var fileName 	  = this.value;
			fileName	  = fileName.replace(/\\/g,'');			
			var fileNameSplit = fileName.split('.');						
			var fileFormat	  = fileNameSplit[(fileNameSplit.length-1)];
			if(( $.inArray(fileFormat, imageArr)) != -1){
			    $('#doc_url_'+(id_select)+'_img_pop').css("display","block");
		        $('#doc_url_'+(id_select)+'_anchor' ).css("display","none");   
    		}else{
    		      $('#doc_url_'+(id_select)+'_img_pop').css("display","none");
		          $('#doc_url_'+(id_select)+'_anchor' ).css("display","block"); 
				  if(fileFormat == "pdf"){	
			    	  $('#doc_url_'+(id_select)+'_anchor').html('<i class="fa fa-file-pdf-o" aria-hidden="true"></i>');
		          }
			      if(fileFormat == "xlsx"){	
			    	  $('#doc_url_'+(id_select)+'_anchor').html('<i class="fa fa-file-excel-o" aria-hidden="true"></i>');
		    	  }
			      if(fileFormat == "docx" || fileFormat == "doc" ){	
			    	  $('#doc_url_'+(id_select)+'_anchor').html('<i class="fa fa-file-text" aria-hidden="true"></i>');
		    	  }	            	        
		    	   $('#doc_url_'+(id_select)+'_anchor').css("color",	'#981b1b');
			       $('.fa').css("font-size"  ,	 '25px');
			       $('.fa').css("margin-left",	'-14px');
		        }
				document.getElementById("doc_name_"+id_select+"").value = this.value;
    			readURL(this, "doc_url_"+id_select+"_img_pop");
		});
		imagePopUp();
    }

   	
    function onUpload(){
    	var doc_url_count =0;
		for( var i = 1; i <= 50; i++ ){
			if(document.getElementById("doc_name_"+i+"")){
				if(document.getElementById("doc_name_"+i+"").value){
					doc_url_count += 1;
				}
			}	
		}

        var processupdate  = { "variables": { "Upload_Doc_Status" : { "value" : "New" } } };
    	var documentsArray = [];
		var arr  	   = { "documentsArray"	: documentsArray  };
		var doc_data 	   = new FormData();
	
		var ProcessType = "Upload";
	
		var doc_url_count = $(':input[type=file]').length;	
		if(doc_url_count < 5){
			doc_url_count = 5
		}
		var Flag = 0;
		var value_from_Process = 1;
	
		if(json_data.documentsArray){
			if(json_data.documentsArray[0] && (json_data.documentsArray.length > 2)){
			    if(json_data.documentsArray.length > 0){
			        value_from_Process = 3;
			        Flag = 1;
			        var cbl_flag = 0;
					if(json_data.documentsArray[0].doc_status =="CIBIL DOC") {
						cbl_flag = 1;
					}
			        for( var i = 1; i <= (doc_url_count+cbl_flag); i++ ){ 
			            if(jQuery('#doc_'+(i)+"")){
			                if(jQuery('#doc_'+(i)+"")[0]){
			                    if(jQuery('#doc_'+(i)+"")[0].files){
			                        jQuery.each(jQuery('#doc_'+(i)+"")[0].files, function(j, file) {
										//console.log(json_data.documentsArray[(i-1)]);
			                            if(json_data.documentsArray[(i-1)]){
							                json_data.documentsArray[(i-1)]["doc_fk_last_modified_by"] 	= user_id;
							                json_data.documentsArray[(i-1)]["doc_last_modified_date"] 	= today;
				                            json_data.documentsArray[(i-1)]["doc_name"]  = document.getElementById("doc_name_"+i+"").value;
					                    	json_data.documentsArray[(i-1)]["doc_url"]   = document.getElementById("doc_name_"+i+"" ).value;
				                            doc_data.append('file-'+(i+12), file);
									         if( json_data.documentsArray[(i-1)]["doc_name"]){
												json_data.documentsArray[(i-1)]["doc_type"] = file.type;
												json_data.documentsArray[(i-1)]["doc_name"] = document.getElementById("doc_name_"+i+"").value.replace(/^.*[\\\/]/, '');
												if( json_data.documentsArray[(i-1)]["doc_name"]  && json_data.documentsArray[(i-1)]["doc_url"] ){		
												    json_data.documentsArray[(i-1)]["doc_status"]   =   document.getElementById("doc_status_"+i+"" ).value;
												    json_data.documentsArray[(i-1)]["remarks"]      =   "remarks:Document attached";
												} else {
												    json_data.documentsArray[(i-1)]["doc_status"]   =   "Document not attached";
												    json_data.documentsArray[(i-1)]["remarks"]      =   "remarks:Document not attached";
												    json_data.documentsArray[(i-1)]["doc_url"]      =   "Document not attached";		                                
												    json_data.documentsArray[(i-1)]["doc_name"]     =   "Document not attached";		                                
												    json_data.documentsArrsay[(i-1)]["doc_type"]     =   "NoDoc.Noo";		                                		                                		                                
													}
									 	     }     
		         	                         }else{
	         	                				  if(document.getElementById("doc_name_"+(i)+"")){	
								 	              var doc_details = {};
												  doc_details["doc_member_id"]		=	parseInt(member_id);
												  doc_details["doc_loan_id"]		=	parseInt(loan_id);
												  doc_details["doc_name"]			=	document.getElementById("doc_name_"+(i)+"").value;
												  doc_details["doc_url"]			=	document.getElementById("doc_name_"+(i)+"").value;
												  doc_details["doc_fk_last_modified_by"]	=  	"{{user}}";
												  doc_details["doc_last_modified_date"]	= 	today;
												  doc_details["doc_fk_sci_client_id"]	= 	 1;
												  doc_data.append('file-'+(i+12), file);
												  doc_details["doc_type"]	  =  file.type;
												  doc_details["doc_name"]   =  doc_details["doc_name"].replace(/^.*[\\\/]/, '');
												  
												  if(doc_details["doc_name"]  &&  doc_details["doc_url"]){
													  if(doc_details["doc_name"]   &&  doc_details["doc_url"]){	
														doc_details["doc_status"] 	=   document.getElementById("doc_status_"+(i)+"").value;
														doc_details["remarks"]	 	=   "remarks:Document attached";
													  }
													  else{
														  doc_details["doc_status"] 	=   "Document not attached";
														  doc_details["remarks"]	  	=   "remarks:Document not attached";
													  }
												  }	
												  json_data.documentsArray.push(doc_details);
												  }else{}
	         	                			}
	                            	});
	                        	}
	                      }
	                 }
	           	}
	            processupdate = {"variables": { "Upload_Doc_Status" : { "value" : "ReworkCompleted" } } };
	            ProcessType   = "ReUpload";
	            arr 	  =  json_data;                     
	        }
	    }
        }
        if(Flag == 0){ /* If uploading documents */
			documentsArray=[];
			var doc_url_count = $(':input[type=file]').length;
		
			if(doc_url_count < 5){
				doc_url_count = 5
			}
		
			for( var i = 1; i <= doc_url_count; i++ ){
				var doc_details = {};
				var doc_name = '';
				if(!document.getElementById("doc_name_"+i+"").value){
					doc_name = "Document Not Attached"; 
					doc_details["doc_type"]	  =  "Document not attached";
				}else{
					doc_name = document.getElementById("doc_name_"+i+"").value;
					
				}
			
				doc_details["doc_member_id"]		=	parseInt(member_id);
				doc_details["doc_loan_id"]		=	parseInt(loan_id);
				doc_details["doc_name"]			=	doc_name;
				doc_details["doc_url"]			=	doc_name;
				doc_details["doc_fk_last_modified_by"]	=  	"{{user}}";
				doc_details["doc_last_modified_date"]	= 	today;
				doc_details["doc_fk_sci_client_id"]	= 	 1;
			
				if(jQuery('#doc_'+i+"")){
					if(jQuery('#doc_'+i+"")[0]){			
						jQuery.each(jQuery('#doc_'+i+"")[0].files, function(j, file) {
							doc_data.append('file-'+(i+12), file);
							var fileNameSplit 	  =  doc_details["doc_name"].split('.');
							var lengthOfNameArr 	  = (fileNameSplit.length-1);
						
							doc_details["doc_type"]	  =  fileNameSplit[lengthOfNameArr];
							doc_details["doc_name"]   =  doc_details["doc_name"].replace(/^.*[\\\/]/, '');
						});
					}
				}
			
				if(doc_details["doc_name"]  &&  doc_details["doc_url"] && (doc_details["doc_name"] != "Document Not Attached")){
					if(doc_details["doc_name"]   &&  doc_details["doc_url"]){	
						doc_details["doc_status"] 	=   document.getElementById("doc_status_"+i+"").value;
						doc_details["remarks"]	 	=   "remarks:Document attached";
						doc_details["loan_doc_type"] 	=   document.getElementById("doc_status_"+i+"").value;
					} else {
						if(document.getElementById("doc_status_"+i+"")){
						doc_details["doc_status"] 	=   document.getElementById("doc_status_"+i+"").value;
						doc_details["loan_doc_type"] 	=   document.getElementById("doc_status_"+i+"").value;				    
						}else{
						doc_details["doc_status"] 	=   "Document not attached";
						doc_details["loan_doc_type"] 	=   "Document not attached";
						}	
						doc_details["remarks"]	  	=   "remarks:Document not attached";
					}
				
				} else {
			 	    if(document.getElementById("doc_status_"+i+"")){
					doc_details["doc_status"] 	=   document.getElementById("doc_status_"+i+"").value;	
					doc_details["loan_doc_type"] 	=   document.getElementById("doc_status_"+i+"").value;	
					}else{
					doc_details["doc_status"] 	=   "Document not attached";
					doc_details["doc_status"] 	=   "Document not attached";
					}
					doc_details["remarks"]	  	=   "remarks:Document not attached";
					
				}
				documentsArray.push(doc_details);
			}
			arr  =  {  "documentsArray"	: documentsArray  };
		}
		console.log(arr);
		var d 		= new Date(); // for now
		var currentTime	= (d.getHours()+":"+d.getMinutes()).toString();

		var currentDateValue  = (new Date());
		currentDateValue = JSON.stringify(currentDateValue);
		currentDateValue = currentDateValue.replace(/"/g,'');
		currentDateValue = currentDateValue.split('T')[0];
		
		var remarksData = '';

		/*Comments*/
		doc_data.append('form_data' , JSON.stringify(arr) );
		var obj =  {
		            "task_id"       : task_id   ,	
		            "process_id"    : processid ,
		            "processupdate" : processupdate 
			    };
		doc_data.append('process_data' , JSON.stringify(obj) );
		doc_data.append('ProcessType'  , ProcessType  );
		
		//doc_data.append('comments'     , JSON.stringify(remarksData)  );
		var remarks = '';
		/*Comments*/
	
		if(json_data.documentsArray){
		    if(json_data.documentsArray[0]){
				if(json_data.documentsArray.length > 0 && (json_data.documentsArray.length != 1)){
					 remarks = document.getElementById('comments').value;
		 		     remarksData =    { 
						"validation_member_id" 		: parseInt(member_id),
						"validation_loan_id" 		: parseInt(loan_id),
						"validation_type" 		: parseInt(1),
						"validation_level"		: parseInt(1),
						"validation_status" 		: parseInt(value_from_Process),
						"remarks" 			: remarks, 
						"process_id" 			: processid,
						"task_id" 			: task_id,
						"validation_fk_last_modified_by": user_id,
						"validation_last_modified_date"	: ""+currentDateValue +" at "+ currentTime+"",
						"validation_fk_sci_client_id"	: parseInt(1)
					 };
					doc_data.append('comments'     , JSON.stringify(remarksData)  );	
			 		if(remarks.length ==0 ){
						alert("Please Comment");
						return false;
					}					 
				}  	  
		    }	 
		}
	
		var theImg = '<div class="loading"><img style="width:350px;height:250px;" src="/static/images/buffer-loading.gif">'
				+'<div style="padding-top:1%;" ><label style="padding-top:1%;">LOADING ...</label>'
				+'</div>'
				+'</div>';
		$(".popup").empty().append(theImg).fadeIn();	
	
		var opts = {
			url: '/uploadDocument',
			data: doc_data,
			cache: false,
			contentType: false,
			processData: false,
			dataType: 'json',
			type: 'POST',
			success: function (data){	
				$(".popup").fadeOut();
				window.location='/tasks/';
			},
			error: function(error) {
				console.log(error)
			}
		};
        if(doc_data.fake) {
	       // Make sure no text encoding stuff is done by xhr
			opts.xhr = function() { var xhr = jQuery.ajaxSettings.xhr(); xhr.send = xhr.sendAsBinary; return xhr; }
			opts.contentType = "multipart/form-data; boundary="+doc_data.boundary;
			opts.data = doc_data;
		}
		jQuery.ajax(opts);
	}	
</script>
</html>
